<template name="creditCard">
	<div class="row">
		<div class="col-tn-7of9 p-tn-r-3 m-tn-b-8">
			<div id="card-number"></div>
			<label class="cc-error card-number-errors"></label>
		</div>
		<div class="col-tn-2of9 p-tn-l-3 m-tn-b-8">
			<div id="card-cvc"></div>
			<label class="cc-error card-cvc-errors"></label>
		</div>
	</div>

	<div class="row">
		<div class="col-tn-1of2 p-tn-r-3 m-tn-b-8">
			<div id="card-expiry"></div>
			<label class="cc-error card-expiry-errors"></label>
		</div>
		<div class="col-tn-1of2 p-tn-l-3 m-tn-b-8">
			<div id="card-postal-code"></div>
			<label class="cc-error card-postal-code-errors"></label>
		</div>
	</div>
	<div id="card-errors" role="alert"></div>

	<div class="txt-tn-center font-size-30 txt-gray-darkest">
		<i class="icn-cc-visa"></i> 
		<i class="icn-cc-mastercard"></i> 
		<i class="icn-cc-amex"></i> 
		<i class="icn-cc-discover"></i> 
		<i class="icn-cc-jcb"></i> 
		<i class="icn-cc-diners"></i>
	</div>

	{{#unless hideCoupon}}
	<div class="row m-tn-t-9">
		<div class="col-tn-3of4 offset-tn-1of8 p-tn-rl-3">
			<input type="text" name="coupon" id="coupon" placeholder="Coupon Code" autocomplete="off">
			<label class="error coupon-errors"></label>
		</div>
	</div>
	{{/unless}}
</template>