<template name="editor">
	<div class="editor-toolbar clearfix">
		<button class="js-editor-btn js-bold-btn editor-btn" data-command="bold"><i class="icn-bold"></i></button>
		<button class="js-editor-btn js-italic-btn editor-btn" data-command="italic"><i class="icn-italic"></i></button>
		<button class="js-editor-btn js-underline-btn editor-btn" data-command="underline"><i class="icn-underline"></i></button>
		<button class="js-editor-btn js-ul-btn editor-btn" data-command="insertUnorderedList"><i class="icn-list-ul"></i></button>
		<button class="js-editor-btn js-ol-btn editor-btn" data-command="insertOrderedList"><i class="icn-list-ol"></i></button>
	</div>
	<div id="{{editorId}}" class="editor-content {{classes}}" contenteditable="true" placeholder="{{placeholder}}"></div>
</template>