<template name="navbar">
	<nav class="navbar row">
		<div class="col-tn-1of4">
			<a class="js-btn-nav js-btn-nav-planning-list btn-nav {{active 'planningList'}}" href="{{pathFor 'planningList'}}">
				<i class="fss-btn-planing btn-nav-icon"></i>
				<div class="btn-nav-label">Planning</div>
			</a>
		</div>
		<div class="col-tn-1of4">
			<a class="js-btn-nav js-btn-nav-tracking-list btn-nav {{active 'trackingList'}}" href="{{pathFor 'trackingList'}}">
				<i class="fss-btn-tracking btn-nav-icon"></i>
				<div class="btn-nav-label">Tracking</div>
			</a>
		</div>
		<div class="col-tn-1of4">
			<a class="js-btn-nav js-btn-nav-reporting-list btn-nav {{active 'reportingList'}}" href="{{pathFor 'reportingList'}}">
				<i class="fss-btn-reporting btn-nav-icon"></i>
				<div class="btn-nav-label">Reporting</div>
			</a>
		</div>
		<div class="col-tn-1of4">
			<a class="js-btn-nav js-btn-nav-settings-list btn-nav {{active 'settingsList'}}" href="{{pathFor 'settingsList'}}">
				<i class="fss-btn-more btn-nav-icon"></i>
				<div class="btn-nav-label">Settings</div>
			</a>
		</div>
	</nav>
</template>