<template name="subbarYearTerm">
	<asside class="subbar">
		<div class="row">
			<div class="col-tn-1of2">
				<a href="#years" class="js-dropdown btn-sub">
					Year <i class="fss-caret-down"></i>
				</a>
			</div>
			<div class="col-tn-1of2">
				<a href="#terms" class="js-dropdown btn-sub last">
					Term <i class="fss-caret-down"></i>
				</a>
			</div>
		</div>
	</asside>

	<ul id="years" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">2017-2018</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">2017-2018</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">2017-2018</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">2017-2018</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">2017-2018</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">2017-2018</a>
		</li>
	</ul>

	<ul id="terms" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">Term 1</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">Term 2</a>
		</li>
		<li class="dropdown-item">
			<a class="dropdown-item-link" href="#">Term 3</a>
		</li>
	</ul>
</template>