<template name="toolbar">
	{{#if isImpersonation}}
		<div class="impersonation"></div>
		{{#if checkStatus user.presence.status}}
			<button class="js-loggout-user btn-impersonation">
				<i class="icn-signout"></i>
				{{user.info.firstName}} {{user.info.lastName}}
			</button>
		{{/if}}
		<button class="js-return-to-back-office btn-back-office">
			<i class="icn-back"></i>
			Back Office
		</button>
	{{/if}}
	<header class="js-toolbar toolbar toolbar toolbar-primary">
		<div class="toolbar-inner">
			{{#if logo}} 
				<div class="icn-logo"></div>
			{{else}}
				<div class="row">
					<!-- Toolbar Left -->
					<div class="toolbar-left">
						<!-- Back Button -->
						{{#if backButton}}
							<a class="js-btn-back btn-tool btn-tool-icn-lg dis-sm-none" href="#">
								<div class="btn-tool-icon"><i class="icn-back"></i></div>
								<div class="btn-tool-label">Back</div>
							</a>
						{{/if}}

						<a class="js-btn-back btn-tool fl-tn-left dis-tn-none dis-sm-inline-block dis-lg-none {{#unless backButton}}disabled{{/unless}}" href="#">
							<div class="btn-tool-icon"><i class="icn-back"></i></div>
							<div class="btn-tool-label">Back</div>
						</a>


						<!-- Toolbar -->
						<span class="dis-tn-none dis-lg-block">{{> navbar}}</span>
					</div>

					<!-- Toolbar Center -->
					<div class="toolbar-center">
						{{> status}}
						<h1 class="txt-tn-center txt-ellipsis dis-sm-none">
							{{#if equal selectedFramePosition 1}}
								{{#if labelOne}}
									{{labelOne}}
								{{/if}}
							{{/if}}
							{{#if equal selectedFramePosition 2}}
								{{#if labelTwo}}
									{{labelTwo}}
								{{/if}}
							{{/if}}
							{{#if equal selectedFramePosition 3}}
								{{#if labelThree}}
									{{labelThree}}
								{{/if}}
							{{/if}}
						</h1>
					</div>

					<!-- Toolbar Right -->
					<div class="toolbar-right">

						{{#if newable}}
							<!-- New Button -->
							<a class="btn-tool dis-sm-none {{#if schoolWorkDisabled}}disabled{{/if}}" href="{{newUrl}}" title="{{#if schoolWorkDisabled}}School Work require Students and School Years.{{else}}New Student, School Year, School Work or User{{/if}}">
								<i class="icn-new btn-tool-icon"></i>
							</a>
						{{/if}}

						{{#if resourceNewable}}
							<!-- New Dropdown Button -->
							<div class="btn-tool-dropdown dis-sm-none">
								<a class="js-dropdown btn-tool" href="#" data-menu="#newResource" title="New Student, School Year, School Work or User">
									<i class="icn-new btn-tool-icon dis-sm-none"></i>
									<i class="icn-new btn-tool-icon dis-tn-none dis-sm-inline-block"></i>
								</a>
								<ul id="newResource" class="dropdown-menu dropdown-tool border-none txt-tn-left m-tn-rl-9 hide">
									<li class="dropdown-item">
										<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/book">
											<i class="icn-book icn-fw-16 m-tn-r-4"></i> New Book
										</a>
									</li>
									<li class="dropdown-divider"></li>
									<li class="dropdown-item">
										<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/link">
											<i class="icn-link icn-fw-16 m-tn-r-4"></i> New Link
										</a>
									</li>
									<li class="dropdown-divider"></li>
									<li class="dropdown-item">
										<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/video">
											<i class="icn-video icn-fw-16 m-tn-r-4"></i> New Video
										</a>
									</li>
									<li class="dropdown-divider"></li>
									<li class="dropdown-item">
										<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/audio">
											<i class="icn-audio icn-fw-16 m-tn-r-4"></i> New Audio
										</a>
									</li>
									<li class="dropdown-divider"></li>
									<li class="dropdown-item">
										<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/app">
											<i class="icn-app icn-fw-16 m-tn-r-4"></i> New App
										</a>
									</li>

								</ul>
							</div>
						{{/if}}

						{{#if actionable}}
							<!-- Action Dropdown Button -->
							<div class="btn-tool-dropdown dis-sm-none">
								<a class="js-dropdown btn-tool" data-menu="#action" href="#" title="action">
									<i class="icn-actions btn-tool-icon" title="Edit or Delete"></i>
								</a>
								<ul id="action" class="dropdown-menu dropdown-tool border-none txt-tn-left m-tn-rl-9 hide">
									<div class="dropdown-arrow"></div>
									<li class="dropdown-item">
										<a class="dropdown-item-link {{#unless editableDeletable}}disabled{{/unless}} {{#unless editUrl.length}}disabled{{/unless}}" href="{{editUrl}}">
											<i class="icn-edit icn-fw-16 m-tn-r-4"></i> Edit
										</a>
									</li>
									<li class="dropdown-divider"></li>
									<li class="dropdown-item">
										<a class="{{deleteClass}} dropdown-item-link {{#unless editableDeletable}}disabled{{/unless}} {{#unless deletable}}disabled{{/unless}}" href="#">
											<i class="icn-delete icn-fw-16 m-tn-r-4"></i> Delete
										</a>
									</li>
								</ul>
							</div>
						{{/if}}

						<!-- New Dropdown Button -->
						<div class="btn-tool-dropdown dis-tn-none dis-sm-inline-block">
							<a class="js-dropdown btn-tool" href="#" data-menu="#newPlanning" title="New Student, School Year, School Work or User">
								<i class="icn-new dis-sm-none"></i>
								<div class="btn-tool-icon dis-tn-none dis-sm-block"><i class="icn-new-circle"></i> <i class="icn-caret-down"></i></div>
								<div class="btn-tool-label dis-tn-none dis-sm-block">Insert</div>
							</a>
							<ul id="newPlanning" class="dropdown-menu dropdown-tool border-none txt-tn-left m-tn-rl-9 hide">
								<div class="dropdown-arrow"></div>
								<li class="dropdown-item">
									<a class="dropdown-item-link" href="/planning/students/new/3">
										<i class="icn-students icn-fw-16 m-tn-r-4"></i> New Student
									</a>
								</li>
								<li class="dropdown-item">
									<a class="dropdown-item-link" href="/planning/schoolyears/new/3">
										<i class="icn-school-years icn-fw-16 m-tn-r-4"></i> New School Year
									</a>
								</li>
								<li class="dropdown-item">
									<a class="js-new-schoolWork dropdown-item-link {{#if schoolWorkDisabled}}disabled{{/if}}" 
										href="/planning/schoolWork/new/3/{{selectedStudentId}}/{{selectedSchoolYearId}}"
										title="{{#if schoolWorkDisabled}}School Work require Students and School Years.{{/if}}"
									>
										<i class="icn-school-work icn-fw-16 m-tn-r-4"></i> New School Work
									</a>
								</li>

								<li class="dropdown-divider"></li>	

								<li class="dropdown-item">
									<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/book">
										<i class="icn-book icn-fw-16 m-tn-r-4"></i> New Book
									</a>
								</li>
								<li class="dropdown-item">
									<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/link">
										<i class="icn-link icn-fw-16 m-tn-r-4"></i> New Link
									</a>
								</li>
								<li class="dropdown-item">
									<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/video">
										<i class="icn-video icn-fw-16 m-tn-r-4"></i> New Video
									</a>
								</li>
								<li class="dropdown-item">
									<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/audio">
										<i class="icn-audio icn-fw-16 m-tn-r-4"></i> New Audio
									</a>
								</li>
								<li class="dropdown-item">
									<a class="js-new-resource dropdown-item-link" href="/planning/resources/new/3/all/all/app">
										<i class="icn-app icn-fw-16 m-tn-r-4"></i> New App
									</a>
								</li>

								<li class="dropdown-divider"></li>	

								<li class="dropdown-item">
									<a class="dropdown-item-link" href="/reporting/new/2">
										<i class="icn-reporting icn-fw-16 m-tn-r-4"></i> New Report
									</a>
								</li>
								<li class="dropdown-item">
									<a class="dropdown-item-link" href="/settings/users/new/3">
										<i class="icn-users icn-fw-16 m-tn-r-4"></i> New User
									</a>
								</li>
							</ul>
						</div>

						<div class="btn-tool-spacer"></div>

						<!-- Edit Button -->
						<a class="btn-tool dis-tn-none dis-sm-inline-block {{#unless editableDeletable}}disabled{{/unless}} {{#unless editUrl.length}}disabled{{/unless}}" href="{{editUrl}}" title="Edit Selection">
							<div class="btn-tool-icon"><i class="icn-edit"></i>{{editable}}</div>
							<div class="btn-tool-label">Edit</div>
						</a>

						<!-- Delete Button -->
						<a class="{{deleteClass}} btn-tool dis-tn-none dis-sm-inline-block {{#unless editableDeletable}}disabled{{/unless}} {{#unless deletable}}disabled{{/unless}}" href="#" title="{{#if deletable}}Delete Selection{{else}}Disabled{{/if}}">
							<div class="btn-tool-icon"><i class="icn-delete"></i></div>
							<div class="btn-tool-label">Delete</div>
						</a>
					</div>
				</div>
			{{/if}}
		</div>
	</header>
</template>