<template name="subbarYearStudent">
	<asside class="subbar">
		<div class="row">
			<div class="col-tn-1of2">
				<a id="{{selectedSchoolYear._id}}" href="#years" class="js-dropdown btn-sub">
					{{selectedSchoolYear.startYear}}{{#unless activeListItem selectedSchoolYear._id 'all-years'}}-{{/unless}}{{selectedSchoolYear.endYear}} <i class="fss-caret-down"></i>
				</a>
			</div>
			<div class="col-tn-1of2">
				<a id="{{selectedStudent._id}}" href="#students" class="js-dropdown btn-sub last">
					{{selectedStudent.preferredFirstName.name}} {{selectedStudent.lastName}} <i class="fss-caret-down"></i>
				</a>
			</div>
		</div>
	</asside>

	<ul id="years" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
		<li class="dropdown-item">
			<a id="all-years" class="js-school-years dropdown-item-link" href="#">
				<div class="dropdown-item-label">All Years</div>
				{{#if activeListItem selectedSchoolYear._id 'all-years'}}
					<div class="dropdown-item-icon-right">
						<i class="fss-planning txt-gray-darker"></i>
					</div>
				{{/if}}
			</a>
		</li>
		{{#each schoolYear in schoolYears}}
			<li class="dropdown-item">
				<a id="{{schoolYear._id}}" class="js-school-years dropdown-item-link" href="#">
					<div class="dropdown-item-label">{{schoolYear.startYear}}-{{schoolYear.endYear}}</div>
					{{#if activeListItem selectedSchoolYear._id schoolYear._id}}
						<div class="dropdown-item-icon-right">
							<i class="fss-planning txt-gray-darker"></i>
						</div>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>

	<ul id="students" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
		{{#each student in students}}
			<li class="dropdown-item">
				<a id="{{student._id}}" class="js-students dropdown-item-link" href="#">
					<div class="dropdown-item-label">{{student.preferredFirstName.name}} {{student.lastName}}</div>
					{{#if activeListItem selectedStudent._id student._id}}
						<div class="dropdown-item-icon-right">
							<i class="fss-planning txt-gray-darker"></i>
						</div>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
</template>