<template name="subbarSubjects">
	<div class="subbar-two-btn">
		<div class="row">
			<div class="col-tn-1of2">
				{{#if students.count}}
					<div class="btn-sub-dropdown">
						<a id="{{selectedStudent._id}}" href="#" data-menu="#students" class="js-dropdown btn-sub">
							{{selectedStudent.preferredFirstName.name}} {{selectedStudent.lastName}} <i class="fss-caret-down"></i>
						</a>
						<ul id="students" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
							<div class="dropdown-arrow"></div>
							{{#each student in students}}
								<li class="dropdown-item">
									<a id="{{studentSchoolYearSubjectId student._id selectedSchoolYearId}}" 
										data-subject-student="{{student._id}}" 
										data-subject-school-year="{{selectedSchoolYearId}}" 
										class="js-subject dropdown-item-link" 
										href="/planning/subjects/view/{{selectedFramePosition}}/{{student._id}}/{{selectedSchoolYearId}}/{{studentSchoolYearSubjectId student._id selectedSchoolYearId}}"
									>
										<div class="dropdown-item-label">{{student.preferredFirstName.name}} {{student.lastName}}</div>
										{{#if activeListItem selectedStudent._id student._id}}
											<div class="dropdown-item-icon-right">
												<i class="fss-planning txt-gray-darker"></i>
											</div>
										{{/if}}
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				{{else}}
					<span class="js-dropdown btn-sub txt-gray-darkest">
						No Students
					</span>
				{{/if}}
			</div>
			<div class="col-tn-1of2">	
				{{#if schoolYears.count}}
					<div class="btn-sub-dropdown">
						<a id="{{selectedSchoolYear._id}}" href="#" data-menu="#years" class="js-dropdown btn-sub last">
							{{selectedSchoolYear.startYear}}-{{selectedSchoolYear.endYear}} <i class="fss-caret-down"></i>
						</a>
						<ul id="years" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
							<div class="dropdown-arrow"></div>
							{{#each schoolYear in schoolYears}}
								<li class="dropdown-item">
									<a id="{{studentSchoolYearSubjectId selectedStudentId schoolYear._id}}" data-subject-student="{{selectedStudentId}}" data-subject-school-year="{{schoolYear._id}}" class="js-subject dropdown-item-link" href="/planning/subjects/view/{{selectedFramePosition}}/{{selectedStudentId}}/{{schoolYear._id}}/{{studentSchoolYearSubjectId selectedStudentId schoolYear._id}}">
										<div class="dropdown-item-label">{{schoolYear.startYear}}-{{schoolYear.endYear}}</div>
										{{#if activeListItem selectedSchoolYearId schoolYear._id}}
											<div class="dropdown-item-icon-right">
												<i class="fss-planning txt-gray-darker"></i>
											</div>
										{{/if}}
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				{{else}}
					<span class="js-dropdown btn-sub txt-gray-darkest">
						No <span class="dis-tn-none">School </span>Years
					</span>
				{{/if}}
			</div>
		</div>
	</div>
</template>