<template name="subbarSchoolWork">
	<div class="subbar-two-btn">
		<div class="row">
			{{#if studentsSchoolYearsCount}}
				<!-- Students Dropdown -->
				<div class="col-tn-1of2">
					{{#if students.count}}
						<div class="btn-sub-dropdown">
							<a id="{{selectedStudent._id}}" href="#" data-menu="#students" class="js-dropdown btn-sub">
								<div class="btn-sub-label">
									{{#if isStudent}}
										{{selectedStudent.preferredFirstName.name}} {{selectedStudent.lastName}}
									{{else}}
										{{selectedStudentGroup.name}}
									{{/if}}
								</div>
							</a>
							<ul id="students" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
								<div class="dropdown-arrow"></div>
								{{#unless studentSubReady}}
									{{> loadingDropdown}}
								{{else}}
									<li class="dropdown-item-label font-weight-700 p-tn-rl-9">Students</li>
									{{#each student in students}}
										<li class="dropdown-item">
											<a id="{{student._id}}" 
												data-schoolWork-student="{{student._id}}" 
												data-schoolWork-school-year="{{selectedSchoolYearId}}" 
												class="js-student dropdown-item-link" 
												href="/planning/work/view/{{selectedFramePosition}}/students/{{student._id}}/{{selectedSchoolYearId}}/{{firstSchoolWorkId student._id selectedSchoolYearId}}"
											>
												<div class="dropdown-item-label">{{student.preferredFirstName.name}} {{student.lastName}}</div>
												{{#if activeListItem selectedStudent._id student._id}}
													<div class="dropdown-item-icon-right">
														<i class="icn-planning txt-gray-darker"></i>
													</div>
												{{/if}}
											</a>
										</li>
									{{/each}}
									<li class="dropdown-item-label font-weight-700 p-tn-rl-9">Student Groups</li>
									{{#if studentGroups.count}}
										{{#each group in studentGroups}}
											<li class="dropdown-item">
												<a id="{{group._id}}" 
													data-schoolWork-group="{{group._id}}" 
													data-schoolWork-school-year="{{selectedSchoolYearId}}" 
													class="js-student-group dropdown-item-link" 
													href="/planning/work/view/{{selectedFramePosition}}/studentgroups/{{group._id}}/{{selectedSchoolYearId}}/{{firstSchoolWorkId group._id selectedSchoolYearId}}"
												>
													<div class="dropdown-item-label">{{group.name}}</div>
													{{#if activeListItem selectedStudentGroup._id group._id}}
														<div class="dropdown-item-icon-right">
															<i class="icn-planning txt-gray-darker"></i>
														</div>
													{{/if}}
												</a>
											</li>
										{{/each}}
									{{else}}
										<li class="dropdown-item font-style-italic txt-gray-darkest ">
											<span class="dropdown-item-inner font-style-italic">No Groups</span>
										</li>
									{{/if}}
								{{/unless}}
							</ul>
						</div>
					{{else}}
						<span class="js-dropdown btn-sub txt-gray-darkest">
							No Students
						</span>
					{{/if}}
				</div>

				<!-- School Years Dropdown -->
				<div class="col-tn-1of2">	
					{{#if schoolYears.count}}
						<div class="btn-sub-dropdown">
							<a id="{{selectedSchoolYear._id}}" href="#" data-menu="#years" class="js-dropdown btn-sub last">
								<div class="btn-sub-label">{{selectedSchoolYear.startYear}}-{{selectedSchoolYear.endYear}}</div>
							</a>
							<ul id="years" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
								<div class="dropdown-arrow"></div>
								{{#unless schoolYearSubReady}}
									{{> loadingDropdown}}
								{{else}}
									{{#each schoolYear in schoolYears}}
										<li class="dropdown-item">
											<a id="{{schoolYear._id}}" data-schoolWork-student="{{selectedStudentId}}" data-schoolWork-school-year="{{schoolYear._id}}" class="js-school-year dropdown-item-link" href="/planning/work/view/{{selectedFramePosition}}/{{selectedStudentIdType}}/{{getSelectedId}}/{{schoolYear._id}}/{{firstSchoolWorkId selectedStudentId schoolYear._id}}">
												<div class="dropdown-item-label">{{schoolYear.startYear}}-{{schoolYear.endYear}}</div>
												{{#if activeListItem selectedSchoolYearId schoolYear._id}}
													<div class="dropdown-item-icon-right">
														<i class="icn-planning txt-gray-darker"></i>
													</div>
												{{/if}}
											</a>
										</li>
									{{/each}}
								{{/unless}}
							</ul>
						</div>
					{{else}}
						<span class="js-dropdown btn-sub last txt-gray-darkest">
							No <span class="dis-tn-none">School </span>Years
						</span>
					{{/if}}
				</div>
			{{else}}
				<div class="col-tn-1of2">
					<span class="btn-sub txt-gray-darkest txt-ellipsis p-tn-rl-9">Students</span>
				</div>
				<div class="col-tn-1of2">
					<span class="btn-sub last txt-gray-darkest txt-ellipsis p-tn-rl-9">School Years</span>
				</div>
			{{/if}}
		</div>
	</div>
</template>