<template name="subbarReporting">
	<asside class="subbar">
		{{#if subbarAvailable}}
		<div class="row">
			<div class="col-tn-5of12">
				<a id="{{selectedSchoolYear._id}}" href="#years" class="js-dropdown btn-sub">
					{{selectedSchoolYear.startYear}}-{{selectedSchoolYear.endYear}} <i class="fss-caret-down"></i>
				</a>
			</div>
			<div class="col-tn-5of12">
				<a id="{{selectedStudent._id}}" href="#students" class="js-dropdown btn-sub">
					{{selectedStudent.preferredFirstName.name}} {{selectedStudent.lastName}} <i class="fss-caret-down"></i>
				</a>
			</div>
			<div class="col-tn-1of6">
				<a href="{{pathFor 'reportingSettingsEdit'}}" class="js-report-settings-btn btn-sub last txt-tn-center p-tn-t-7">
					<i class="fss-actions"></i>
				</a>
			</div>
		</div>
		{{/if}}
	</asside>

	<ul id="years" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
		{{#each schoolYear in schoolYears}}
			<li class="dropdown-item">
				<a id="{{schoolYear._id}}" class="js-school-years dropdown-item-link" href="#">
					<div class="dropdown-item-label">{{schoolYear.startYear}}-{{schoolYear.endYear}}</div>
					{{#if activeListItem selectedSchoolYear._id schoolYear._id}}
						<div class="dropdown-item-icon-right">
							<i class="fss-planning txt-gray-darker"></i>
						</div>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>

	<ul id="students" class="dropdown-menu dropdown-sub m-tn-rl-9 hide">
		{{#each student in students}}
			<li class="dropdown-item">
				<a id="{{student._id}}" class="js-students dropdown-item-link" href="#">
					<div class="dropdown-item-label">{{student.preferredFirstName.name}} {{student.lastName}}</div>
					{{#if activeListItem selectedStudent._id student._id}}
						<div class="dropdown-item-icon-right">
							<i class="fss-planning txt-gray-darker"></i>
						</div>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
</template>