<template name="app">	
	<div class="alert-container">
		{{#each alert in alerts}}
		<div class="alert {{alert.colorClass}}">
			<div class="alert-icon"><i class="{{alert.iconClass}}"></i></div>
			<div class="alert-message">{{alert.message}}</div>
			<a id="{{alert._id}}" href="#" class="js-alert-close alert-close-icon fl-tn-right"><i class="fss-close"></i></a>
		</div>
		{{/each}}
	</div>

	<div class="alert-container">
		<div class="alert bg-warning">
			<div class="alert-icon"><i class="fss-warning"></i></div>
			<div class="alert-message">
				{{connectionStatus.connected}}<br>
				{{connectionStatus.status}}<br>
				{{connectionStatus.retryCount}}<br>
				{{connectionStatus.retryTime}}<br>
				{{connectionStatus.reason}}
			</div>
		</div>
	</div> 

	{{> toolbar}}
	<asside class="subbar">
		<span class="{{#unless showSubbar}}hide{{/unless}}">{{> Template.dynamic template=subbar}}</span>
	</asside>

	<div class="frame-container-outer {{currentRouteName}}">
		<div class="frame-contaner-inner {{selectedFrameClass}}">
			<div class="frame-one"> 
				{{> Template.dynamic template=frameOne}}
			</div>
			<div class="frame-two">
				{{> Template.dynamic template=frameTwo}}
			</div>
			<div class="frame-three"> 
				{{> Template.dynamic template=frameThree}}
			</div>
		</div>
	</div>

	<span class="dis-lg-none">{{> navbar}}</span>
</template>