<template name="notFound">
	<main class="app-content app-content-preceeds-toolbar">
		<header class="js-toolbar toolbar toolbar toolbar-primary">
			<div class="icn-logo"></div>
		</header>
		<aside class="subbar"></aside>

		<div class="txt-tn-center m-tn-t-18">
			<img class="img-tn-280 img-sm-420 m-tn-rl-auto" src="/img/not-found.jpg">
			<h1 class="m-tn-t-18">Oops!</h1>
			<p class="m-tn-t-3 m-tn-b-18 m-tn-rl-9 txt-gray-darkest">We miscalculated something. Sorry.</p>
			<a href="/" class="btn">Back To The App</a>
		</div>
	</main>
</template>