<template name="office">
	<div class="alert-container">
		{{#each alert in alerts}}
		<div class="alert {{alert.colorClass}}">
			<div class="alert-icon"><i class="{{alert.iconClass}}"></i></div>
			<div class="alert-message">{{{alert.message}}}</div>
			<a id="{{alert._id}}" href="#" class="js-alert-close alert-close-icon fl-tn-right"><i class="fss-close"></i></a>
		</div>
		{{/each}}
	</div>

	{{#if dialog}}
		<div class="dialog-container">
			<div class="dialog clearfix">
				{{#if dialog.heading}}
				<div class="dialog-heading">{{dialog.heading}}</div>
				{{/if}}
				{{#if dialog.message}}
				<div class="dialog-message">{{dialog.message}}</div>
				{{/if}}
				<button class="js-dialog-cancel dialog-btn">Cancel</button>
				<button class="{{dialog.confirmClass}} js-dialog-confirmed dialog-btn">OK</button>
			</div>
		</div>
	{{/if}}

	<header class="js-office-toolbar toolbar toolbar toolbar-info">
		<div class="toolbar-inner">
			<div class="row">
				<!-- Toolbar Left -->
				<div class="toolbar-left">
					<nav class="navbar row">
						<div class="p-md-rl-18">
							<div class="col-tn-1of3 col-lg-1of2">
								<a class="js-btn-nav js-btn-nav-reporting-list btn-nav btn-nav-info first {{isActiveRoute 'officeDashboard'}}" href="{{pathFor 'officeDashboard'}}" title="Dashboard">
									<i class="fss-dashboard btn-nav-icon"></i>
									<div class="btn-nav-label">Dashboard</div>
								</a>
							</div>
							<div class="col-tn-1of3 col-lg-1of2">
								<a class="js-btn-nav js-btn-nav-reporting-list btn-nav btn-nav-info last {{isActiveRoute 'officeAccounts'}}" href="{{pathFor 'officeAccounts'}}" title="Accounts">
									<i class="fss-users btn-nav-icon"></i>
									<div class="btn-nav-label">Users</div>
								</a>
							</div>
							<div class="col-tn-1of3 dis-lg-none">
								<a class="js-btn-nav js-btn-nav-reporting-list btn-nav btn-nav-info" href="/" title="Flexible Homeschool App">
									<i class="fss-logo-plain btn-nav-icon"></i>
									<div class="btn-nav-label">Application</div>
								</a>
							</div>
						</div>
					</nav>
				</div>
				<!-- Toolbar Right -->
				<div class="toolbar-right">
					<!-- Edit Button -->
						<a class="btn-tool btn-tool-info fl-tn-right dis-tn-none dis-lg-block" href="/" title="Flexible Homeschool App">
							<i class="fss-logo-plain btn-tool-icon"></i>
						</a>
				</div>
			</div>
		</div>
	</header>

	<div class="frame-container-outer {{currentRouteName}}">
		<div class="frame-contaner-inner {{selectedFrameClass}}">
			<div class="frame-one"> 
				{{> Template.dynamic template=frameOne}}
			</div>
			<div class="frame-two">
				{{> Template.dynamic template=frameTwo}}
			</div>
			<div class="frame-three"> 
				{{> Template.dynamic template=frameThree}}
			</div>
		</div>
	</div>
</template>