<template name="toolbarPrint">
	<header class="toolbar toolbar-primary">
		<div class="row">
			<div class="col-tn-1of6">
				{{#if backButton}}
					<a class="js-btn-back btn-tool" href="#">
						<i class="fss-back"></i>
					</a>
				{{else}}
					&nbsp;
				{{/if}}
			</div>
			<div class="col-tn-3of7 |  m-tn-t-12">
				<h1 class="txt-tn-center txt-ellipsis">
					{{#if dynamicFirstName}}
						{{dynamicFirstName}}
					{{/if}}
					{{#if dynamicLastName}}
						{{dynamicLastName}}
					{{/if}}
					{{#if label}}
						{{label}}
					{{/if}}
				</h1>
			</div>
			<div class="col-tn-2of7">
				{{#if rightIcon}}
				<a class="btn-tool fl-tn-right" href="{{rightUrl}}">
					<i class="{{rightIcon}}"></i>
				</a>
				{{/if}}
				<a class="js-print btn-tool fl-tn-right" href="#">
					<i class="fss-print"></i>
				</a>
			</div>
		</div>
	</header>
</template>