.alert-container {
	position: fixed;
	top: 59px;
	z-index: 900;

	.alert {
		position: relative;
		border-radius: 3px;
		padding: 9px;
		margin: 0px 9px 9px;
		color: $color-white;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
		animation: alert-fade-in 0.2s ease-in forwards;

		&.alert-fade-out {
			animation: alert-fade-out 0.1s ease-out forwards;
		}

		.alert-icon {
			position: absolute;
			top: 9px;
			left: 9px;
			width: 18px;
			font-size: 18px;
			text-align: center;
		}

		.alert-message {
			margin: -3px 30px 0px;
			line-height: 1.5;
		}

		.alert-close-icon {
			position: absolute;
			top: 9px;
			right: 9px;
			width: 18px;
			font-size: 18px;
			text-align: center;
			color: $color-white;

			&:hover {
				text-decoration: none;
			}
		}

		@media only screen and (min-width: 640px) {
			width: 460px;
			margin: 0px auto 9px;
		}
	}

	@media only screen and (min-width: 640px) {
		left: 50%;
		transform: translateX(-50%);
	}
}

.subbar + .alert-container {
	top: 89px;
}

@keyframes alert-fade-in {
  0%   { opacity: 0; margin-top: -9px; }
  100% { opacity: 1; margin-top: 0px; }
}

@keyframes alert-fade-out {
  0%   { opacity: 1; margin-top: 0px; }
  100% { opacity: 0; margin-top: -9px; }
}
