.bg-primary, .bg-success {
	background-color: $color-primary;
}

.bg-primary-lightest, .bg-success-lightest {
	background-color: lighten($color-primary, 35%)
}

.bg-info {
	background-color: $color-info;

	label {
		display: block;
		font-size: 12px;
		font-weight: 500;
		margin: 0px;
		padding: 0px;
		color: $color-white;
	}
}

.bg-warning {
	background-color: $color-warning;
}

.bg-danger {
	background-color: $color-danger;
}

.bg-royal {
	background-color: $color-royal;
}

.bg-gray-darkest {
	background-color: $color-gray-darkest;
}

.bg-gray-darker {
	background-color: $color-gray-darker;
}

.bg-gray-dark {
	background-color: $color-gray-dark;
}

.bg-gray {
	background-color: $color-gray;
}

.bg-gray-light {
	background-color: $color-gray-light;
}

.bg-gray-lighter {
	background-color: $color-gray-lighter;
}

.bg-gray-lightest {
	background-color: $color-gray-lightest;
}

.bg-black {
	background-color: $color-black;
}

.bg-white {
	background-color: $color-white;
}