button, .btn {
	display: inline-block;
	font-family: $font-family-default;
	font-size: 16px;
	color: $color-white;
	border-radius: 3px;
	height: 36px;
	margin: 0px;
	padding: 9px 15px; 
	background-color: $color-primary;
	border: none;

	&.pill {
		border-radius: 18px;
	}

	&.small {
		text-align: center;
		height: 31px;
		padding: 7px 7px;
		font-size: 14px;

		&.pill {
			border-radius: 16px;
		}
	}

	&.editor-small {
		text-align: center;
		height: auto;
		padding: 6px 6px;
		font-size: 14px;
	}

	&.extra-small {
		text-align: center;
		height: 26px;
		padding: 7px 13px;
		font-size: 12px;

		&.pill {
			border-radius: 13px;
		}
	}

	&.tiny {
		text-align: center;
		height: 20px;
		padding: 3px 9px;
		font-size: 10px;

		&.pill {
			border-radius: 10px;
		}
	}


	&.btn-primary-light {
		background-color: $color-primary-light;
	}

	&.btn-secondary {
		background-color: $color-danger;
	}

	&.btn-secondary-light {
		background-color: $color-danger-light;
	}

	&.btn-gray-darker {
		background-color: $color-gray-darker;
	}

	&.btn-gray-dark {
		background-color: $color-gray-dark;
	}

	&.btn-gray-dark-outline {
		box-shadow: inset 0 0 0 1px $color-gray-dark;
		background-color: transparent;
	}

	&.btn-info {
		background-color: $color-info;
	}

	&.btn-harvest {
		background-color: $color-harvest-lighter;
	}

	&.btn-warning {
		background-color: $color-warning;
	}

	&.btn-warning-light {
		background-color: $color-warning-light;
	}

	&.btn-white-info {
		background-color: lighten($color-info, 28%);
		color: $color-info;
	}

	&.btn-impersonation {
		background-color: $color-danger;
		color: $color-white;
		height: 36px;
		min-width: 36px;
		border-radius: 18px;
		padding: 9px 15px;
		position: absolute;
		bottom: 118px;
		right: 18px;
	}

	&.btn-back-office {
		background-color: $color-info;
		color: $color-white;
		height: 36px;
		min-width: 36px;
		border-radius: 18px;
		padding: 9px 15px;
		position: absolute;
		bottom: 59px;
		right: 18px;
	}

	@media print {		
		&.btn-secondary {
			box-shadow: inset 0px 0px 0px 100px $color-danger;
		}

		&.btn-gray-darker {
			box-shadow: inset 0px 0px 0px 100px $color-gray-darker;
		}

		&.btn-gray-dark {
			box-shadow: inset 0px 0px 0px 100px $color-gray-dark;
		}

		&.btn-info {
			box-shadow: inset 0px 0px 0px 100px $color-info;
		}

		&.btn-white-info {
			box-shadow: inset 0px 0px 0px 100px lighten($color-info, 28%);
		}
	}


	&.btn-circle {
		height: 30px;
		width: 30px;
		border-radius: 15px;
		text-align: center;
		padding: 6px 0px 0px;

		&.small {
			height: 22px;
			width: 22px;
			border-radius: 11px;
			text-align: center;
			padding: 4px 0px 0px;
			font-size: 14px;
		}
	}

	&.btn-block {
		display: block;
		width: 100%;
	}

	&.disabled {
		background-color: $color-gray-darker;
	}

	&:hover, &:focus, &:active {
		outline: none;
		border: 0;
		text-decoration: none;
	}

	&:-moz-focusring {
		outline: none;
    	border: 0;
	}
}

.btn-tool {
	font-family: $font-family-default;
	font-size: 19px;
	color: $color-white;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 36px;
	height: 50px;
	font-size: 20px;
	display: inline-block;
	float: left;
	padding: 15px 0px;

	.btn-tool-label {
		display: none;
	}

	@media only screen and (min-width: 640px) {
		font-size: 15px;
		font-weight: 500;
		cursor: default;
		width: 50px;
		height: auto;
		padding: 6px 0px 0px;
		margin-left: 9px;

		.btn-tool-icon {
			display: block;
			margin: 0px 0px 2px;
			padding: 4px 0px;
			border-radius: 3px;
			background-color: $color-primary-light;
			color: $color-white;
			font-size: 15px;
		}

		.btn-tool-label {
			display: block;
			font-size: 11px;
			font-weight: 400;
			color: $color-white;
		}

		&.btn-tool-info .btn-tool-icon {
			background-color: $color-info-light;
		}
	}

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
	}

	&.disabled {
		.btn-tool-icon {
			color: $color-primary-lighter;
		}
		.btn-tool-label {
			color: $color-primary-lighter;
		}
	}
}

.btn-tool-spacer {
	width: 12px;
	margin-right: 9px;
	height: 34px;
	margin-top: 8px;
	border-right: 1px solid $color-primary-lighter;
	float: left;
	display: none;
}

@media only screen and (min-width: 640px) {
	.btn-tool-dropdown {
		width: 57px;
		margin-left: 9px;
		float: left;
		position: relative;

		.btn-tool {
			margin-left: 0px;
		}
	}

	.btn-tool-spacer {
		display: inline-block;
	}
}

.btn-sub {
	font-family: $font-family-default;
	font-size: 14px;
	font-weight: 500;
	color: $color-black;
	text-decoration: none;
	text-align: center;
	background-color: $color-gray;
	border: none;
	border-right: 1px solid $color-white;
	width: 100%;
	height: 30px;
	border-radius: 0px;
	display: block;
	padding-top: 5px;
	margin-bottom: 0px;
	position: relative;

	.btn-sub-label {
		padding: 0px 24px 0px 9px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;

		@media only screen and (min-width: 640px) {
			padding: 0px;
			text-align: center;
		}

		&:after {
			font-family: 'Flexible-Homeschool-App' !important;	
			content: "\e90a";
			position: absolute;
			top: 5px;
			right: 9px;

			@media only screen and (min-width: 640px) {
				position: static;
				content: " \e90a";
			}
		}
	}

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
    	border-right: 1px solid $color-white;
	}

	&.last {
		border-right: none;
		
		&:hover, &:focus, &:active {
	    	outline: none;
	    	border: 0;
	    	text-decoration: none;
		}
	}
}

a.btn-nav {
	font-family: $font-family-default;
	font-size: 10px;
	color: $color-gray-darkest;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 100%;
	height: 50px;
	border-radius: 0px;
	display: block;
	margin: 0px;
	padding: 8px 0px 0px 0px;

	.btn-nav-icon {
		color: $color-gray-darker;
		font-size: 18px;
	}

	.btn-nav-label {
		margin-top: 4px
	}

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
	}

	&.active {
		color: $color-primary;

		.btn-nav-icon {
			color: $color-primary;
		}
	}

	&.disabled {
		color: $color-gray-darker;

		.btn-nav-icon {
			color: $color-gray-dark;
		}

	}

	&.btn-nav-info {
		&.active {
			color: $color-info;

			.btn-nav-icon {
				color: $color-info;
			}
		}
	}

	@media only screen and (min-width: 896px) {
		font-size: 15px;
		font-weight: 500;
		cursor: default;
		width: 63px;
		height: auto;
		padding: 6px 0px 0px;
		display: inline-block;
		float: left;

		.btn-nav-icon {
			display: block;
			margin: 0px 0px 2px;
			padding: 4px 0px;
			background-color: $color-primary-light;
			color: $color-white;
			font-size: 15px;

			&.first {
				border-radius: 3px 0px 0px 3px;
			}

			&.last {
				border-radius: 0px 3px 3px 0px ;
			}
		}

		.btn-nav-label {
			display: block;
			margin-top: 0px;
			font-size: 11px;
			font-weight: 400;
			color: $color-white;
		}

		&.active .btn-nav-icon {
			background-color: $color-primary-lightest;
			color: $color-primary;
		}	

		&.disabled .btn-nav-icon {
			color: $color-primary-lighter;

		}

		&.btn-nav-info {
			.btn-nav-icon {
				background-color: $color-info-light;
			}

			&.active .btn-nav-icon {
				background-color: $color-info-lightest;
				color: $color-info;
			}	

			&.disabled .btn-nav-icon {
				color: $color-info-lighter;
			}
		}
	}
}

a.no-hover {
	&:hover, &:focus, &:active {
		outline: none;
		border: 0;
		text-decoration: none;
	}
}











