button, .btn {
	display: inline-block;
	font-family: $font-family-default;
	font-size: 16px;
	color: $color-white;
	border-radius: 3px;
	height: 36px;
	margin: 0px;
	padding: 9px 15px; 
	background-color: $color-primary;
	border: none;

	&.small {
		text-align: center;
		height: 31px;
		padding: 7px 13px;
		font-size: 14px;
	}

	&.extra-small {
		text-align: center;
		height: 26px;
		padding: 7px 13px;
		font-size: 12px;
	}

	&.tiny {
		text-align: center;
		height: 20px;
		padding: 3px 9px;
		font-size: 10px;
	}


	&.btn-secondary {
		background-color: $color-danger;
	}

	&.btn-gray-darker {
		background-color: $color-gray-darker;
	}

	&.btn-gray-dark {
		background-color: $color-gray-dark;
	}

	&.btn-info {
		background-color: $color-info;
	}

	&.btn-white-info {
		background-color: lighten($color-info, 28%);
		color: $color-info;
	}

	@media print {		
		&.btn-secondary {
			box-shadow: inset 0px 0px 0px 100px $color-danger;
		}

		&.btn-gray-darker {
			box-shadow: inset 0px 0px 0px 100px $color-gray-darker;
		}

		&.btn-gray-dark {
			box-shadow: inset 0px 0px 0px 100px $color-gray-dark;
		}

		&.btn-info {
			box-shadow: inset 0px 0px 0px 100px $color-info;
		}

		&.btn-white-info {
			box-shadow: inset 0px 0px 0px 100px lighten($color-info, 28%);
		}
	}


	&.btn-circle {
		height: 30px;
		width: 30px;
		border-radius: 15px;
		text-align: center;
		padding: 6px 0px 0px;

		&.small {
			height: 22px;
			width: 22px;
			border-radius: 11px;
			text-align: center;
			padding: 4px 0px 0px;
			font-size: 14px;
		}
	}

	&.btn-block {
		display: block;
		width: 100%;
	}

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
	}

	&:-moz-focusring {
		outline: none;
    	border: 0;
	}
}

.btn-tool {
	font-family: $font-family-default;
	font-size: 19px;
	color: $color-white;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 36px;
	height: 50px;
	border-radius: 0px;
	font-size: 20px;
	display: inline-block;
	float: left;
	padding: 15px 0px;

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
	}

	&.disabled {
		color: $color-primary-lighter;
	}

	@media only screen and (min-width: 640px) {
		width: 57px;
		height: 32px;
		padding: 8px 0px;
		margin: 9px 0px 0px 9px;
		border-radius: 3px;
		font-size: 16px;
		background-color: $color-primary-light;

		&.btn-tool-icn-lg {
			padding: 6px 0px;
			i {
				font-size: 20px;
			}
		}
		&.btn-tool-info {
			background-color: $color-info-light;
		}
	}
}

.btn-tool-spacer {
	width: 19px;
	margin-right: 9px;
	height: 32px;
	margin-top: 9px;
	border-right: 1px solid $color-primary-lighter;
	float: left;
	display: none;
}

@media only screen and (min-width: 640px) {
	.btn-tool-dropdown {
		width: 57px;
		margin-left: 9px;
		float: left;
		position: relative;

		.btn-tool {
			margin-left: 0px;
		}
	}

	.btn-tool-spacer {
		display: inline-block;
	}
}

.btn-sub {
	font-family: $font-family-default;
	font-size: 14px;
	font-weight: 500;
	color: $color-black;
	text-decoration: none;
	text-align: center;
	background-color: $color-gray;
	border: none;
	border-right: 1px solid $color-white;
	width: 100%;
	height: 30px;
	border-radius: 0px;
	display: block;
	padding-top: 5px;
	margin-bottom: 0px;
	position: relative;

	.btn-sub-label {
		padding: 0px 24px 0px 9px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;

		@media only screen and (min-width: 640px) {
			padding: 0px;
			text-align: center;
		}

		&:after {
			font-family: 'Flexible-School-Schedule' !important;	
			content: "\e941";
			position: absolute;
			top: 5px;
			right: 9px;

			@media only screen and (min-width: 640px) {
				position: static;
				content: " \e941";
			}
		}
	}

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
    	border-right: 1px solid $color-white;
	}

	&.last {
		border-right: none;
		
		&:hover, &:focus, &:active {
	    	outline: none;
	    	border: 0;
	    	text-decoration: none;
		}
	}
}

a.btn-nav {
	font-family: $font-family-default;
	font-size: 10px;
	color: $color-gray-darkest;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 100%;
	height: 50px;
	border-radius: 0px;
	display: block;
	margin: 0px;
	padding: 8px 0px 0px 0px;

	.btn-nav-icon {
		color: $color-gray-darker;
		font-size: 18px;
	}

	.btn-nav-label {
		margin-top: 4px
	}

	&:hover, &:focus, &:active {
    	outline: none;
    	border: 0;
    	text-decoration: none;
	}

	&.active {
		color: $color-primary;

		.btn-nav-icon {
			color: $color-primary;
		}
	}

	&.disabled {
		color: $color-gray-darker;

		.btn-nav-icon {
			color: $color-gray-dark;
		}

	}

	&.btn-nav-info {
		&.active {
			color: $color-info;

			.btn-nav-icon {
				color: $color-info;
			}
		}
	}

	@media only screen and (min-width: 896px) {
		background-color: $color-primary-light;
		height: 32px;
		padding: 8px 0px;
		margin-top: 9px;

		.btn-nav-icon {
			color: $color-white;
			font-size: 16px;
		}

		.btn-nav-label {
			display: none;
		}

		&.first {
			border-radius: 3px 0px 0px 3px;
		}

		&.last {
			border-radius: 0px 3px 3px 0px ;
		}

		&.active {
			background-color: $color-primary-lightest;

			.btn-nav-icon {
				color: $color-primary;
			}
		}	

		&.disabled {
			color: $color-primary-lighter;

			.btn-nav-icon {
				color: $color-primary-lighter;
			}

		}

		&.btn-nav-info {
			background-color: $color-info-light;
			&.active {
				background-color: $color-info-lightest;

				.btn-nav-icon {
					color: $color-info;
				}
			}	

			&.disabled {
				color: $color-info-lighter;

				.btn-nav-icon {
					color: $color-info-lighter;
				}

			}
		}
	}
}











