ul.dropdown-menu {
	position: fixed;
	right: 9px;
	left: 9px;
	z-index: 800;
	border-radius: 3px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	// box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

	&.dropdown-tool {
		top: 59px;
		background-color: $color-primary;

		li.dropdown-item {

			a.dropdown-item-link, .dropdown-item-inner  {
				border-bottom: 1px solid lighten($color-primary, 15%);
				color: $color-white;

				&.border-none {
					border: none;
				}

				&:hover {
					color: $color-white;
				}

				&.disabled, &.disabled:hover {
					color: $color-primary-lighter;
				}
			}
		}

		li.dropdown-divider {
			margin-bottom: 3px;
			padding-top: 3px;
			border-bottom: 1px solid lighten($color-primary, 15%);
		}
	}


	&.border-none li.dropdown-item a.dropdown-item-link, &.border-none li.dropdown-item .dropdown-item-inner{
		border: none;
	}

	&.dropdown-sub {
		top: 89px;
		background-color: $color-gray;
		// overflow-y: auto;

		li.dropdown-item {

			a.dropdown-item-link, .dropdown-item-inner  {
				border-bottom: 1px solid $color-gray-dark;
				color: $color-black;

				&.border-none {
					border: none;
				}
			}
		}
	}

	li.dropdown-item {

		.dropdown-item-header {
			display: block;
			padding: 5px 9px;
			background-color: $color-primary-lighter;
			color: $color-primary;
			font-weight: 500;
			font-size: 12px;
			margin-top: -1px;
		}

		a.dropdown-item-link, .dropdown-item-inner {
			display: block;
			height: 50px;
			padding: 16px 9px;
			margin: 0px;

			.dropdown-item-loading-icon {
				display: inline-block;
				float: left;
				width: 18px;
				margin-right: 9px;

				.loader-icon {
					background-color: $color-gray-darker;

					&:before {
						background-color: $color-gray;
					}

					&:after {
						background-color: $color-gray;
					}
				}		
			}

			.dropdown-item-icon {
				display: inline-block;
				float: left;
				font-size: 18px;
				margin-right: 9px;
				text-align: center;
			}

			.dropdown-item-icon-right {
				display: inline-block;
				float: right;
				font-size: 16px;
				padding-top: 1px;
				margin-right: 9px;
				text-align: center;
			}

			.dropdown-item-label {
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&:hover {
				color: $color-black;
				text-decoration: none;
			}
		}

		&:last-child {
			a.dropdown-item-link, .dropdown-item-inner  {
				border: none;
			}
		}
	}
}

@media only screen and (min-width: 640px) {
	.btn-sub-dropdown {
		position: relative;

		ul.dropdown-menu {
			position: absolute;
			left: -70px;
			right: -70px;
			overflow: auto;

			&.dropdown-sub {
				top: 39px;
			}

			// .dropdown-arrow {
			// 	position: absolute;
			// 	height: 9px;
			// 	top: -9px;
			// 	left: 0px;
			// 	right: 0px;
			// 	z-index: 400;

			// 	&:after {
			// 		position: absolute;
			// 		top: 0px;
			// 		left: 0px;
			// 		content: '';
			// 		width: 0; 
			// 		height: 0; 
			// 		border-left: 9px solid transparent;
			// 		border-right: 9px solid transparent;
			// 		border-bottom: 9px solid $color-gray;
			// 		left: 50%;
			// 		transform: translate(-50%);
			// 		z-index: 400;
			// 	}
			// }
		}
	}

	.btn-tool-dropdown {

		ul.dropdown-menu {
			position: absolute;
			left: -132px;
			right: -132px;
			overflow: visible;

			&.dropdown-tool {
				top: 59px;
			}

			// .dropdown-arrow {
			// 	position: absolute;
			// 	height: 9px;
			// 	top: -9px;
			// 	left: 0px;
			// 	right: 0px;
			// 	z-index: 400;

			// 	&:after {
			// 		position: absolute;
			// 		top: 0px;
			// 		left: 0px;
			// 		content: '';
			// 		width: 0; 
			// 		height: 0; 
			// 		border-left: 9px solid transparent;
			// 		border-right: 9px solid transparent;
			// 		border-bottom: 9px solid $color-primary;
			// 		left: 50%;
			// 		transform: translate(-50%);
			// 		z-index: 400;
			// 	}
			// }
		}
	}
}



@keyframes dropdown-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes dropdown-fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}