form {
	.divider {
		border-top: 1px solid $color-gray;
	}

	label {
		display: block;
		font-size: 12px;
		font-weight: 500;
		margin: 0px 0px 3px;
		padding: 0px;
		color: $color-primary;

		&.error, &.cc-error {
			color: $color-danger;
			font-weight: 300;
			margin-top: -8px;
			margin-bottom: 12px;
		}

		&.cc-error {
			margin-top: 4px;
			margin-bottom: 0px
		}
	}

	textarea, 
	input[type=text], 
	input[type=email], 
	input[type=password],
	input[type=number],
	select, 
	button { 
		outline: none; 
	    -webkit-appearance: none;
	    -moz-appearance: none;
	}

	textarea,
	input[type=text],
	input[type=email], 
	input[type=password],
	input[type=number] {
		width: 100%;
		padding: 8px 11px;
		border: 1px solid $color-gray-dark;
		border-radius: 3px;
		margin-bottom: 8px;
		background-color: #fff;
		font-family: $font-family-default;
		font-size: 16px;


		&::placeholder {
		  color: $color-gray;
		  font-style: italic; 
		}

		&:focus {
			outline: none;
			border-color: $color-primary;

			&::placeholder {
				color: lighten($color-primary, 10%);
			}
		}

		&.error {
			border-color: $color-danger;

			&::placeholder {
				color: $color-gray;
			}
		}
	}

	textarea {
		margin-bottom: 9px;
		resize: none;
	}

	.icn-overlay {
		display: block;
		position: relative;
		color: $color-gray-darker;

		input {
			padding-left: 36px;
			padding-right: 36px;
		}

		.icn-left {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 10;
			height: 36px;
			width: 36px;
			padding: 10px;
			text-align: center;
		}

		.icn-right {
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 10;
			height: 36px;
			width: 36px;
			padding-top: 7px;
			text-align: center;
		}
	}

	.fss-select {
		border: 1px solid $color-gray-dark;
	    width: 100%;
	    border-radius: 3px;
		margin-bottom: 12px;
	    overflow: hidden;
	    background: #fff url('/img/arrows-select.svg') right center no-repeat;

		&.error {
			border-color: $color-danger;
		}

	    &.focus {
	    	outline: none;
	    	border-color: $color-primary;
		    background: #fff url('/img/arrows-select-focus.svg') right center no-repeat;
	    }

		select {
			font-family: $font-family-default;
			font-size: 16px;
			padding: 0px;
			margin: 0px;
			padding: 8px 11px;
		    width: 100%;
		    border: none;
		    box-shadow: none;
		    background: transparent;
		    background-image: none;
		    outline: none;
	    	border: 0;

		    &:focus {
		    	outline: none;
		    	border: 0;
			}

			&:-moz-focusring {
			    color: transparent;
			    text-shadow: 0 0 0 #000;
			}

			&.error {
				border-color: $color-danger;
			}
		}
	}

	.radio-collection {
		.radio {
			display: inline-block;
			padding: 6px 0px 0px;
			margin: 0px 0px 9px;
			height: 20px;

			.radio-icon {
				float: left;
				margin-right: 6px;
				height: 20px;
				width: 20px;
				background: url('/img/radio-btn.svg') left center no-repeat;
			}

			.radio-label {
				display: inline-block;
				font-size: 16px;
				font-weight: 400;
				color: $color-black;

				.radio-option-not-available {
					display: none;
					font-size: 12px;
				}

				&.bold {
					font-weight: 600;
				}
			}

			input[type=radio] {
				display: none;

				&:checked + .radio-icon {
					background: url('/img/radio-btn-checked.svg') left center no-repeat;
				}

				&:disabled + .radio-icon + .radio-label {
					color: $color-gray-dark;

					.radio-option-not-available {
						display: inline;
					}
				}
			}
		}
	}

	.checkbox-collection {
		padding: 5px 0px 0px;
	}

	.checkbox {
		display: inline-block;
		padding: 0px;
		margin: 0px 0px 11px;
		height: 20px;

		.checkbox-icon {
			float: left;
			margin-right: 6px;
			height: 20px;
			width: 20px;
			background: url('/img/checkbox-btn.svg') left center no-repeat;
		}

		.checkbox-label {
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			color: $color-black;

			.checkbox-option-not-available {
				display: none;
				font-size: 12px;
			}

			&.bold {
				font-weight: 600;
			}
		}

		input[type=checkbox] {
			display: none;

			&:checked + .checkbox-icon {
				background: url('/img/checkbox-btn-checked.svg') left center no-repeat;
			}

			&:disabled + .checkbox-icon + .checkbox-label {
				color: $color-gray-dark;

				.checkbox-option-not-available {
					display: inline;
				}
			}
		}
	}
}

.StripeElement {
	width: 100%;
	padding: 8px 11px;
	border: 1px solid $color-gray-dark;
	border-radius: 3px;
	background-color: #fff;
	font-family: $font-family-default;
	font-size: 16px;
}

.StripeElement--focus {
	outline: none;
	border-color: $color-primary;
}

.StripeElement--invalid, .cc-error {
  border-color: $color-danger;
  color: $color-danger;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


