@font-face {
    font-family: 'Flexible-School-Schedule';
    src:  url('/fonts/Flexible-School-Schedule.eot'),
        url('/fonts/Flexible-School-Schedule.ttf'),
        url('/fonts/Flexible-School-Schedule.woff'),
        url('/fonts/Flexible-School-Schedule.svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Flexible-School-Schedule' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fss-invoices:before {
  content: "\e930";
}
.fss-users-female:before {
  content: "\e92f";
}
.fss-play-circle:before {
  content: "\e92e";
}
.fss-pause-circle:before {
  content: "\e92d";
}
.fss-actions:before {
  content: "\e900";
}
.fss-app:before {
  content: "\e901";
}
.fss-audio:before {
  content: "\e902";
}
.fss-back:before {
  content: "\e903";
}
.fss-billing:before {
  content: "\e904";
}
.fss-book:before {
  content: "\e905";
}
.fss-caret-down:before {
  content: "\e906";
}
.fss-caret-left:before {
  content: "\e907";
}
.fss-caret-right:before {
  content: "\e908";
}
.fss-caret-up:before {
  content: "\e909";
}
.fss-carets-up-down:before {
  content: "\e90a";
}
.fss-cc-amex:before {
  content: "\e90b";
}
.fss-cc-diners:before {
  content: "\e90c";
}
.fss-cc-discover:before {
  content: "\e90d";
}
.fss-cc-jcb:before {
  content: "\e90e";
}
.fss-cc-master-card:before {
  content: "\e90f";
}
.fss-cc-visa:before {
  content: "\e910";
}
.fss-close-circle:before {
  content: "\e911";
}
.fss-close:before {
  content: "\e912";
}
.fss-danger:before {
  content: "\e913";
}
.fss-delete:before {
  content: "\e914";
}
.fss-edit:before {
  content: "\e915";
}
.fss-info:before {
  content: "\e916";
}
.fss-link:before {
  content: "\e917";
}
.fss-logo:before {
  content: "\e918";
}
.fss-new-circle:before {
  content: "\e919";
}
.fss-new:before {
  content: "\e91a";
}
.fss-notes:before {
  content: "\e91b";
}
.fss-planning:before {
  content: "\e91c";
}
.fss-reporting:before {
  content: "\e91d";
}
.fss-resources:before {
  content: "\e91e";
}
.fss-school-years:before {
  content: "\e91f";
}
.fss-search:before {
  content: "\e920";
}
.fss-searching:before {
  content: "\e921";
}
.fss-settings:before {
  content: "\e922";
}
.fss-signout:before {
  content: "\e923";
}
.fss-students:before {
  content: "\e924";
}
.fss-subjects:before {
  content: "\e925";
}
.fss-success:before {
  content: "\e926";
}
.fss-support:before {
  content: "\e927";
}
.fss-terms:before {
  content: "\e928";
}
.fss-tracking:before {
  content: "\e929";
}
.fss-users:before {
  content: "\e92a";
}
.fss-video:before {
  content: "\e92b";
}
.fss-warning:before {
  content: "\e92c";
}

.fss-fw-16 {
    width: 16px;
    text-align: center;
    display: inline-block;
}

.fss-fw-22 {
    width: 22px;
    text-align: center;
    display: inline-block;
}

.fss-spin {
    display: inline-block;
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(359deg); 
    }
}
