@font-face {
    font-family: 'Flexible-School-Schedule';
    src:  url('/fonts/Flexible-School-Schedule.eot'),
        url('/fonts/Flexible-School-Schedule.ttf'),
        url('/fonts/Flexible-School-Schedule.woff'),
        url('/fonts/Flexible-School-Schedule.svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Flexible-School-Schedule' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fss-list-app:before {
  content: "\e906";
}
.fss-list-audio:before {
  content: "\e925";
}
.fss-list-book:before {
  content: "\e926";
}
.fss-list-link:before {
  content: "\e927";
}
.fss-list-video:before {
  content: "\e928";
}
.fss-btn-back:before {
  content: "\e900";
}
.fss-btn-close:before {
  content: "\e901";
}
.fss-btn-more:before {
  content: "\e902";
}
.fss-btn-new:before {
  content: "\e903";
}
.fss-btn-planing:before {
  content: "\e904";
}
.fss-btn-reporting:before {
  content: "\e905";
}
.fss-btn-settings:before {
  content: "\e907";
}
.fss-btn-students:before {
  content: "\e908";
}
.fss-btn-tracking:before {
  content: "\e909";
}
.fss-caret-down:before {
  content: "\e90a";
}
.fss-caret-left:before {
  content: "\e90b";
}
.fss-caret-right:before {
  content: "\e90c";
}
.fss-caret-up:before {
  content: "\e90d";
}
.fss-carets-up-down:before {
  content: "\e90e";
}
.fss-cc-amex:before {
  content: "\e90f";
}
.fss-cc-diners:before {
  content: "\e910";
}
.fss-cc-discover:before {
  content: "\e911";
}
.fss-cc-jcb:before {
  content: "\e912";
}
.fss-cc-mastercard:before {
  content: "\e913";
}
.fss-cc-visa:before {
  content: "\e914";
}
.fss-icn-danger:before {
  content: "\e915";
}
.fss-icn-info:before {
  content: "\e916";
}
.fss-icn-success:before {
  content: "\e917";
}
.fss-icn-warning:before {
  content: "\e918";
}
.fss-list-billing:before {
  content: "\e919";
}
.fss-list-delete:before {
  content: "\e91a";
}
.fss-list-edit:before {
  content: "\e91b";
}
.fss-list-resources:before {
  content: "\e91c";
}
.fss-list-schoolyears:before {
  content: "\e91d";
}
.fss-list-signout:before {
  content: "\e91e";
}
.fss-list-students:before {
  content: "\e91f";
}
.fss-list-subjects:before {
  content: "\e920";
}
.fss-list-support:before {
  content: "\e921";
}
.fss-list-terms:before {
  content: "\e922";
}
.fss-list-users:before {
  content: "\e923";
}
.fss-logo:before {
  content: "\e924";
}
