ul.list {
	list-style: none;
	padding: 0px;
	margin: 0px;

	li.list-item {

		a.list-item-link, .list-item-inner {
			display: block;
			height: 50px;
			padding-top: 16px;
			padding-bottom: 16px;
			border-bottom: 1px solid $color-gray-lighter;
			color: $color-black;
			position: relative;

			&.top-border {
				border-bottom: none;
				border-top: 1px solid $color-gray-lighter;
			}

			&.dark-border {
				border-color: $color-gray;
			}

			.list-item-icon {
				display: inline-block;
				float: left;
				font-size: 18px;
				margin-right: 9px;
				text-align: center;
			}

			.list-item-label {
				padding-right: 28px;

				.list-item-sublabel {
					font-size: 12px;
					color: $color-gray-darkest;
				}
			}

			.list-item-btn {
				position: absolute;
				top: 14px;
				bottom: 0px;
				right: 9px;
				width: 28px;
				text-align: right;
			}

			&:hover {
				color: $color-black;
				text-decoration: none;
			}
		}
	}

	li.list-item-label {
		height: 25px;
		padding-top: 4px;
		padding-bottom: 4px;
		background-color: $color-gray-lighter;
		font-size: 12px;
		font-weight: 500;
		color: $color-gray-darkest;
		position: relative;
	}

	&.list-search-results {
		position: absolute;
		top: 42px;
		left: 0px;
		right: 0px;
		z-index: 10;
		margin-bottom: 86px;
		// box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		overflow: hidden;
		border: 1px solid $color-primary;
		background-color: $color-white;

		li.list-item:last-of-type a.list-item-link, li.list-item:last-of-type .list-item-inner {
			border: none;
		}
	}
}

ul.data-list {
	list-style: none;
	padding: 0px;
	margin: 0px;

	li.list-item {

		a.list-item-link {
			display: block;
			padding-top: 16px;
			padding-bottom: 16px;
			background-color: $color-white;
			border-bottom: 1px solid $color-gray-lighter;
			color: $color-black;
			font-size: 14px;
			font-weight: 600;

			.list-item-icon {
				display: inline-block;
				float: left;
				font-size: 14px;
				padding-top: 1px;
				margin-right: 6px;
				text-align: center;
			}

			&:hover {
				color: $color-black;
				text-decoration: none;
			}
		}
	}
}

ul.info-list {
	list-style: none;
	padding: 0px;
	margin: 0px;

	li.list-item {
		margin-bottom: 12px;

		.list-item-label {
			font-weight: 400;
		}
	}
}

.list-spacer {
	height: 32px;
	border-bottom: 1px solid $color-gray-lighter;
}