ul.list {
	list-style: none;
	padding: 0px;
	margin: 0px;

	&.top-border {
		border-bottom: none;
		border-top: 1px solid $color-gray-lighter;
	}

	li.list-item {
		position: relative;

		.list-item-dropdown {
			position: absolute;
			top: 0px;
			right: 0px;
			height: 49px;
			width: 37px;

			&:before {
				font-family: 'Flexible-Homeschool-App' !important;	
				content: "\e918";
				font-size: 20px;
				color: inherit;
				position: absolute;
				top: 15px;
				left: 9px;
			}

			&:after {
				font-family: 'Flexible-Homeschool-App' !important;	
				content: " \e90d";
				font-size: 13px;
				color: $color-white;
				position: absolute;
				top: 18px;
				right: 17px;
				z-index: 100;
				opacity: 0.5;
			}
		}

		.list-item-dropdown-loader, .list-item-handles {
			position: absolute;
			top: 0px;
			right: 0px;
			height: 49px;
			width: 37px;
			text-align: center;
			padding-top: 17px;
			font-size: 16px;

			.loader-icon {
				background-color: $color-gray-darker;

				&:before {
					background-color: $color-white;
				}

				&:after {
					background-color: $color-white;
				}
			}
		}

		.list-item-dropdown-menu {
			position: absolute;
			top: 0px;
			right: 0px;
			left: 0px;
			z-index: 10;

			.list-item-dropdown-options {
				background-color: $color-gray;
				margin: 16px 36px 9px 9px;
				padding: 7px 9px 0px;
				border-radius: 3px;
				font-size: 14px;
				// float: right;

				a {
					color: $color-black;
					text-decoration: none;
					margin-right: 36px;
					display: block;
					padding: 3px 0px;

					&:last-of-type {
						margin-right: 3px;
					}

					&:hover {
						text-decoration: none;
					}

					i {
						display: inline-block;
						float: left;
						font-size: 16px;
						margin-right: 6px;
						text-align: center;
					}

					// @media only screen and (min-width: 768px) {
					// 	margin-right: 18px;

					// 	&:last-of-type {
					// 		margin-right: 7px;
					// 	}
					// }
				}
			}
		}

		a.list-item-link, .list-item-inner {
			display: block;
			height: 50px;
			margin: 0px;
			padding-top: 16px;
			padding-bottom: 16px;
			border-bottom: 1px solid $color-gray-lighter;
			color: $color-black;
			position: relative;

			@media only screen and (min-width: 640px) {
				&.active {
					background-color: $color-gray-lighter;
				}
			}

			&.top-border {
				border-bottom: none;
				border-top: 1px solid $color-gray-lighter;
			}

			&.top-border-only-dark {
				margin-top: -1px;
				border-top: 1px solid;
				border-bottom: none;
				border-color: $color-gray;
			}

			&.dark-border {
				border-color: $color-gray;
			}

			&.padding-bottom-none {
				padding-bottom: 0px;
			}

			.list-item-icon {
				display: inline-block;
				float: left;
				font-size: 18px;
				margin-right: 9px;
				text-align: center;
				color: $color-primary;
			}

			.list-item-caret {
				display: inline-block;
				float: left;
				font-size: 16px;
				width: 16px;
				margin-right: 2px;
				text-align: center;
			}

			.list-item-label {
				padding-right: 28px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				.list-item-sublabel {
					font-size: 12px;
					color: $color-gray-darkest;
				}
			}

			.list-item-btn,
			.list-item-btn-lg {
				position: absolute;
				top: 14px;
				bottom: 0px;
				right: 9px;
				width: 22px;
				text-align: center;
			}

			.list-item-btn-lg {
				top: 12px;
				width: 76px;
			}

			.list-item-badge {
				position: absolute;
				top: 13px;
				right: 9px;
				z-index: 300;
				font-size: 22px;
				text-align: center;
				height: 22px;
				width: 22px;
				border-radius: 11px;
				background-color: $color-white;
				color: $color-danger;

				&:before {
					font-family: 'Flexible-Homeschool-App' !important;	
					content: "\e948";
				}
			}

			.list-item-loading {
				position: absolute;
				bottom: 15px;
				right: 9px;
				z-index: 300;
				font-size: 16px;
				text-align: center;
				height: 18px;
				width: 18px;
				display: none;
			}

			&.disabled {
				.list-item-icon {
					color: $color-gray-dark;
				}

				.list-item-label {
					color: $color-gray-darker;
				}
			}

			&:hover {
				color: $color-black;
				text-decoration: none;
			}

			&.hide {
				display: none;
			}
		}

		&.no-last-border:last-of-type {
			border: none;
		}

		form {
			position: relative;
			display: block;
			margin: 0px;
			padding-top: 16px;
			padding-bottom: 16px;
			border-bottom: 1px solid $color-gray-lighter;

			input {
				font-size: 15px;
				margin: 0px;
			}

			.form-loading {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 300;
				text-align: center;
				background-color: $color-white;
				display: none;
			}
		}

		&.sortable-ghost {


			a.list-item-link, .list-item-inner {

			}
		}

		&.sortable-chosen {
			background-color: $color-gray-dark;
			
			a.list-item-link, .list-item-inner {
				background-color: $color-gray-dark;
			}
		}

		&.sortable-drag {
			background-color: $color-white;
			opacity: 0.5;
			border-color: transparent;
			
			a.list-item-link, .list-item-inner {
				background-color: $color-white;
				opacity: 0.5;
				border-color: transparent;
			}
		}
	}

	li.list-item-label {
		height: 25px;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-top: -1px;
		border-top: 1px solid $color-primary-lighter;
		border-bottom: 1px solid $color-primary-lighter;
		background-color: $color-primary-lightest;
		font-size: 12px;
		color: $color-primary;
		position: relative;
	}

	&.list-search-results {
		position: absolute;
		top: 42px;
		left: 0px;
		right: 0px;
		z-index: 300;
		margin-bottom: 86px;
		// box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
		border-radius: 3px;
		overflow: hidden;
		border: 1px solid $color-primary;
		background-color: $color-white;

		li.list-item:last-of-type a.list-item-link, li.list-item:last-of-type .list-item-inner {
			border: none;
		}
	}

	.set-to-delete {
		.list-item-label {
			color: $color-gray-darker;
		}
	}
}

ul.data-list {
	list-style: none;
	padding: 0px;
	margin: 0px;

	li.list-item {

		a.list-item-link, .list-item-inner {
			display: block;
			margin-bottom: 0px;
			padding-top: 16px;
			padding-bottom: 16px;
			background-color: $color-white;
			border-bottom: 1px solid $color-gray-lighter;
			color: $color-black;
			font-size: 14px;
			font-weight: 600;

			@media only screen and (min-width: 640px) {
				&.active {
					background-color: $color-gray-lighter;

					.meter {
						background-color: $color-white;
						color: $color-gray-darker;
						// border: 1px solid $color-gray-dark;
					}
				}
			}

			&.padding-top-none {
				padding-bottom: 0px;
			}

			.list-item-icon {
				display: inline-block;
				float: left;
				font-size: 14px;
				padding-top: 1px;
				margin-right: 6px;
				text-align: center;
			}

			&:hover {
				color: $color-black;
				text-decoration: none;
			}
		}
	}
}

.list-spacer {
	height: 32px;
	border-bottom: 1px solid $color-gray-lighter;
}

.list-info {
	border-radius: 3px;
	background-color: $color-gray-lightest;
	border: 1px solid $color-gray-dark;

	.list-item:last-of-type {
		.list-item-link {
			border: none;
			margin: 0px;
		}
	}
}