.loading-initializing {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100000;
	background-color: $color-primary;
	color: $color-white;
	text-align: center;

	.loading-center {
		position: absolute;
		top: 50%;
		right: 0px;
		left: 0px;
		transform: translateY(-80%);

		&:before {
			font-family: 'Flexible-School-Schedule' !important;	
			content: "\e91a";
			font-size: 70px;
		}

		p {
			margin-top: 27px;
			font-size: 18px;
		}
	}
}

.loading-container {
	position: fixed;
	top: 80px;
	right: 0px;
	left: 0px;
	bottom: 51px;
	z-index: 4000;
	background-color: $color-white;

	&.loading-saving, 
	&.loading-sending, 
	&.loading-updating, 
	&.loading-deleting, 
	&.loading-signing-out {
		// display: none;
	}

	.loader {		
		padding-top: 128px;
		text-align: center;

		.loader-icon {
			position: relative;
			margin: 0px auto;
			width: 44px;
			height: 44px;
			border-radius: 3px;
			background-color: $color-gray-lightest;
			border: 1px solid $color-gray-darker;
			color: $color-gray-darkest;
			font-size: 23px;
			padding-top: 9px;
		}

		.loader-message {
			margin-top: 18px;
			font-size: 16px;
			text-align: center;
			font-weight: 400;
			color: $color-gray-darkest;
		}
	}
}

.frame-one{
	.loading-container {
		z-index: 5000;
	}
}

@media only screen and (min-width: 640px) {
	.frame-one {
		.loading-container {
			width: 50%;
		}
	}

	.frame-two {
		.loading-container {
			width: 50%;
			left: auto;
			border-left: 1px solid $color-gray;
		}
	}

	.frame-three {
		.loading-container {
			width: 50%;
			left: auto;
			border-left: 1px solid $color-gray;
		}
	}

	.createAccount,
	.verifySent,
	.verifySuccess,
	.signIn,
	.reset,
	.resetSent,
	.resetPassword,
	.resetSuccess,
	.billingError {
		.frame-one {
			.loading-container {
				width: auto;
			}
		}
	}
}

@media only screen and (min-width: 896px) {
	.frame-one {
		.loading-container {
			width: 288px;
		}
	}

	.frame-two {
		.loading-container {
			bottom: 0px;
			left: 288px;
			width: 288px;
		}
	}

	.frame-three {
		.loading-container {
			border-right: 1px solid $color-gray;
			bottom: 0px;
			left: 576px;
			width: calc(100% - 576px);
			max-width: 828px;
		}
	}

	.trackingView,
	.reportingNew,
	.reportingView,
	.reportingEdit {

		.frame-two .loading-container {
			border-right: 1px solid $color-gray;
			width: calc(100% - 288px);
			max-width: 828px;
		}

		.frame-three .loading-container {
			display: none;
		}

	}
}











