.loading-initializing {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 800;
	background-color: $color-gray-dark;
	color: $color-white;
	text-align: center;
}

.loader-icon-middle {
	position: absolute;
	top: 50%;
	right: 0px;
	left: 0px;
	transform: translateY(-80%);

	p {
		margin-top: 27px;
		font-size: 18px;
	}
}

.loader-icon {
	position: relative;
	background-color: $color-white;
	border-radius: 50%;
	height: 44px;
	width: 44px;

	&.loader-icon-center {
		margin: 0px auto;
	}

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		background-color: $color-gray-dark;
		border-radius: 50%;
		width: 34px;
		height: 34px;
	}

	&:after {
		content: "";
		width: 22px;
		height: 8px;
		background-color: $color-gray-dark;
		position: absolute;
		top: 18px;
		left: 0;
		z-index: 20;
		animation: rotation 0.75s infinite linear;
		transform-origin: right center;
	}

	&.loader-icon-sm {
		height: 26px;
		width: 26px;

		&:before {
			width: 20px;
			height: 20px;
		}

		&:after {
			top: 11px;
			width: 13px;
			height: 4px;
		}
	}

	&.loader-icon-xs {
		height: 18px;
		width: 18px;

		&:before {
			width: 14px;
			height: 14px;
		}

		&:after {
			top: 7px;
			width: 9px;
			height: 4px;
		}
	}

	&.loader-icon-tn {
		height: 16px;
		width: 16px;

		&:before {
			width: 12px;
			height: 12px;
		}

		&:after {
			top: 6px;
			width: 8px;
			height: 4px;
		}
	}
}

.loading-container {
	position: fixed;
	top: 80px;
	right: 0px;
	left: 0px;
	bottom: 51px;
	z-index: 600;
	padding-top: 128px;
	background-color: $color-white;

	&.loading-saving, 
	&.loading-sending, 
	&.loading-updating, 
	&.loading-deleting, 
	&.loading-signing-out {
		display: none;
	}

	.loader {		
		position: relative;
		margin: 0px auto;
		width: 44px;
		height: 44px;
		border-radius: 3px;
		background-color: $color-gray-lightest;
		border: 1px solid $color-gray-darker;
		color: $color-gray-darkest;

		.loader-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-gray-darker;

			&:before {
				background-color: $color-gray-lightest;
			}

			&:after {
				background-color: $color-gray-lightest;
			}
		}
	}

	.loader-message {
		margin-top: 18px;
		font-size: 16px;
		text-align: center;
		font-weight: 400;
		color: $color-gray-darkest;
	}
}

.frame-one{
	.loading-container {
		z-index: 800;
	}
}

@media only screen and (min-width: 640px) {
	.frame-one {
		.loading-container {
			width: 50%;
		}
	}

	.frame-two {
		.loading-container {
			width: 50%;
			left: auto;
			border-left: 1px solid $color-gray;
		}
	}

	.frame-three {
		.loading-container {
			width: 50%;
			left: auto;
			border-left: 1px solid $color-gray;
		}
	}

	.createAccount,
	.verifySent,
	.verifySuccess,
	.signIn,
	.reset,
	.resetSent,
	.resetPassword,
	.resetSuccess,
	.billingError,
	.pausedUser,
	.loading-signing-out {
		.frame-one {
			.loading-container {
				width: auto;
			}
		}
	}
}

@media only screen and (min-width: 896px) {
	.frame-one {
		.loading-container {
			width: 288px;
		}
	}

	.frame-two {
		.loading-container {
			bottom: 0px;
			left: 288px;
			width: 288px;
		}
	}

	.frame-three {
		.loading-container {
			border-right: 1px solid $color-gray;
			bottom: 0px;
			left: 576px;
			width: calc(100% - 576px);
			max-width: 828px;
		}
	}

	.trackingView,
	.reportingNew,
	.reportingView,
	.reportingEdit {

		.frame-two .loading-container {
			border-right: 1px solid $color-gray;
			width: calc(100% - 288px);
			max-width: 828px;
		}

		.frame-three .loading-container {
			display: none;
		}

	}
}











