.toolbar-top { 
	.icn-logo {
		margin-top: 13px;
		font-size: 20px;
		text-align: center;
		color: #fff;
	}
}

.icn-logo {
	&:before {	
		font-family: 'Flexible-Homeschool-App' !important;	
		content: "\e92b";
	}

	&:after {
		content: " Flexible Homeschool App";
	}
}

.icn-logo-plain:before {
  content: "\e92b";
}