.status {
	position: absolute;
	z-index: 500;
	background-color: $color-primary;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	padding: 12px 0px;

	.loader-icon {
		display: none;
	}

	&.connecting {
		width: 302px;
		padding: 12px 86px;
		text-align: right;

		.loader-icon {
			display: block;
		}
	}
}