.status {
	position: absolute;
	z-index: 25000;
	background-color: rgba(0, 0, 0, 0.85);
	color: $color-white;
	width: 302px;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
}