* {
	box-sizing: border-box;
}

html {
	font-family: $font-family-default;
	font-weight: $font-weight-default;
	font-size: $font-size-default;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
	border: 0;
    height: 1px;
    padding: 0px;
    margin: 0px;
    background: $color-gray;
}

#__blaze-root {
	height: 100%;
	min-height: 100%;
	position: relative;
}

.no-subbar {
	margin-top: 50px;
}

@media only screen and (min-width: 0px) {
	.app-content {
		padding-top: 80px;
		min-height: 100%;
		
		&.app-content-data {
			padding: 89px 9px 9px;
		}
		
		&.app-content-form {
			padding: 98px 18px 18px;
		}

		&.app-content-preceeds-toolbar {
			padding-bottom: 51px;
		}

		&.app-content-includes-search {
			padding-top: 80px;

			ul {
				margin-top: 50px;
			}
		}
	}

	.office-content {
		padding-top: 50px;
		min-height: 100%;
	}

	.frame-container-outer {
		overflow-x: hidden;
		min-height: 100vh;
	}

	.frame-contaner-inner {
		width: 300%;
		min-height: 100vh;
	}

	.frame-one {
		width: 33.3333%;
		min-height: 100vh;
		float: left;
	}
	.frame-two {
		width: 33.3333%;
		left: 100%;
		min-height: 100vh;
		float: left;
	}

	.frame-three {
		width: 33.3333%;
		left: 200%;
		min-height: 100vh;
		float: left;
	}

	.frame-position-one {
		.frame-one {
			height: auto;
			overflow: visible;
		}

		.frame-two, 
		.frame-three {
			height: 0px;
			overflow: hidden;
		}
	}

	.frame-position-two {
		margin-left: -100%;

		.frame-two {
			height: auto;
			overflow: visible;
		}

		.frame-one, 
		.frame-three {
			height: 0px;
			overflow: hidden;
		}
	}

	.frame-position-three {
		margin-left: -200%;
		
		.frame-three {
			height: auto;
			overflow: visible;
		}

		.frame-one, 
		.frame-two {
			height: 0px;
			overflow: hidden;
		}
	}

	.frame-cover {
		position: absolute;
		background-color: $color-gray-lightest;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 320px;
		z-index: 850;
		display: none;
	}

	.tracking-spacer {
		height: 252px;
	}
}

@media only screen and (min-width: 480px) {
	.app-content {
		&.app-content-data {
			padding: 95px 15px 15px;
		}
		
		&.app-content-form {
			padding: 106px 27px 27px;
		}

		&.app-content-preceeds-toolbar {
			padding-bottom: 51px;
		}
	}
}

@media only screen and (min-width: 640px) {
	html, body {
		overflow: hidden;
	}

	.app-content {	
		&.app-conent-center {
			max-width: 640px;
			margin: 0px auto;
		}

		&.app-content-data {
			padding: 89px 9px 9px;
		}
		
		&.app-content-form {
			padding: 98px 18px 18px;

			form {
				margin: 0px auto;
				max-width: 284px;

				&.form-width-full {
					margin: 0px auto;
					max-width: none;
				}
			}
		}

		&.app-content-preceeds-toolbar {
			padding-bottom: 51px;
		}
	}

	.frame-contaner-inner {
		width: 150%;
		height: 100vh;
	}

	.frame-position-one,
	.frame-position-two,
	.frame-position-three {
		.frame-one,
		.frame-two,
		.frame-three {
			height: auto;
			overflow: visible;
		}

		.frame-one {
			height: 100vh;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

		.frame-two {
			border-left: 1px solid $color-gray;
			height: 100vh;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

		.frame-three {
			border-left: 1px solid $color-gray;
			height: 100vh;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.frame-position-two {
		margin-left: 0px;
	}

	.frame-position-three {
		margin-left: -50%;
	}

	.createAccount,
	.verifySent,
	.verifySuccess,
	.signIn,
	.reset,
	.resetSent,
	.resetPassword,
	.resetSuccess,
	.billingError,
	.pausedUser,
	.officeDashboard {
		.frame-one {
			width: 66.66666%;
			float: none;
			overflow-y: visible;
		}

		.frame-two, .frame-three {
			display: none;
		}
	}

	.tracking-spacer {
		height: 500px;
	}
}

@media only screen and (min-width: 768px) {
	.app-content.app-content-data {
		padding: 21px;
	}

	.app-content.app-content-form {
		padding: 21px;
	}

	.app-content {	
		&.app-content-data {
			padding: 101px 21px 21px;
		}
		
		&.app-content-form {
			padding: 106px 27px 27px;
		}

		&.app-content-preceeds-toolbar {
			padding-bottom: 100px;
		}

		&.app-content-tracking {
			padding-bottom: 136px;
		}
	}
}

@media only screen and (min-width: 896px) {
	.app-content {	
		&.app-content-data {
			padding: 107px 27px 27px;
		}
		
		&.app-content-form {
			padding: 106px 27px 27px;
		}

		&.app-content-preceeds-toolbar {
			padding-bottom: 51px;
		}

		&.app-content-tracking {
			padding-bottom: 77px;
		}
	}

	.frame-contaner-inner {
		width: 100%;
	}

	.frame-one {
		width: 288px;
	}

	.frame-two {
		width: 288px;
	}

	.frame-three {
		width: calc(100% - 576px);
		max-width: 828px;
	}

	.frame-position-two {
		margin-left: 0px;
	}

	.frame-position-three {
		margin-left: 0px;
	}

	.createAccount,
	.verifySent,
	.verifySuccess,
	.signIn,
	.reset,
	.resetSent,
	.resetPassword,
	.resetSuccess,
	.billingError,
	.pausedUser,
	.officeDashboard {
		.frame-one {
			width: 100%;
		}
	}

	.trackingView,
	.trackingEdit, 
	.reportingNew,
	.reportingView,
	.reportingEdit,
	.supportView,
	.officeAccountsList,
	.officeAccountsView,
	.officeAccountsResetView,
	.officeAccountsNew,
	.officeQuestionsForm,
	.officeQuestionsView {
		.frame-two {
			width: calc(100% - 288px);
			max-width: 828px;
		}

		.frame-three {
			display: none;
		}

	}

	.frame-cover {
		display: block;
		width: calc(100% - 1440px);
	}
}

@media only screen and (min-width: 1200px) {
	.app-content {	
		&.app-content-data {
			padding: 115px 36px 36px;
		}
		
		&.app-content-form {
			padding: 115px 36px 36px;
		}

		// &.app-content-preceeds-toolbar {
		// 	padding-bottom: 86px;
		// }
	}
}

@media only screen and (min-width: 1248px) {
	.frame-three {
		border-right: 1px solid $color-gray;
	}

	.trackingView, 
	.trackingEdit,
	.reportingNew,
	.reportingView,
	.reportingEdit,
	.supportView,
	.officeAccountsList,
	.officeAccountsView,
	.officeAccountsResetView,
	.officeAccountsNew,
	.officeQuestionsForm,
	.officeQuestionsView {
		.frame-two {
			border-right: 1px solid $color-gray;
		}

		.frame-three {
			display: none;
		}

	}
}