.toolbar {
	height: 50px;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 800;
	text-align: center;
	color: $color-white;

	&.toolbar-primary {
		background-color: $color-primary;
	}

	&.toolbar-info {
		background-color: $color-info;
	}

	&.toolbar-bottom {
		height: 51px;
		position: fixed;
		top: auto;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 800;
		padding: 7px 9px 0px;
		background-color: $color-gray;
	}

	.icn-logo {
		font-size: 20px; 
		margin-top: 13px;
	}

	.toolbar-left {
		position: absolute;
		z-index: 300;
		left: 0px;
		height: 50px;
		width: 36px;
	}

	.toolbar-center {
		position: absolute;
		z-index: 200;
		left: 42px;
		right: 42px;
		padding: 12px 0px;
		height: 50px;
	}

	.toolbar-right {
		position: absolute;
		z-index: 300;
		right: 0px;
		height: 50px;
		width: 36px;
	}

	@media only screen and (min-width: 640px) {
		.toolbar-left {
			margin-left: 0px;
			padding-left: 9px;
			width: 91px;
		}

		.toolbar-right {
			width: 223px;
			padding-right: 18px;
		}

		&.toolbar-bottom {
			display: block;
			position: absolute;
			background-color: transparent;
			z-index: 0;
		}

		&.toolbar-bottom {
			display: block;
			position: static;
			background-color: transparent;
			z-index: 0;
			padding: 0px;
		}
	}

	@media only screen and (min-width: 768px) {
		.toolbar-left {
			width: 288px;
		}
	}

	@media only screen and (min-width: 896px) {
		.toolbar-left {
			display: inline-block;
			padding-left: 0px;
		}
	}

	&.hide {
		display: none;
	}

	&.offpage {
		position: absolute;
		top: 100000000000000000000000000px;
		left: 100000000000000000000000000px;
		right: auto;
	}
}

.subbar {
	height: 30px;
	position: fixed;
	top: 50px;
	right: 0px;
	left: 0px;
	z-index: 700;
	background-color: $color-gray;

	@media only screen and (min-width: 640px) {
		.subbar-two-btn {
			width: 360px;
			margin: 0px auto;
			border-right: 1px solid $color-white;
			border-left: 1px solid $color-white;
		}

		.subbar-three-btn {
			width: 540px;
			margin: 0px auto;
			border-right: 1px solid $color-white;
			border-left: 1px solid $color-white;
		}
	}

	@media only screen and (min-width: 720px) {
		.subbar-four-btn {
			width: 720px;
			margin: 0px auto;
			border-right: 1px solid $color-white;
			border-left: 1px solid $color-white;
		}
	}
}

.navbar {
	position: fixed;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 10;
	background-color: $color-gray-lightest;
	border-top: 1px solid $color-gray-dark;

	@media only screen and (min-width: 896px) {
		position: static;
		background-color: transparent;
		border: none;
	}
}

.navbar-badge {
	position: absolute;
	top: -9px;
	right: 6px;
	z-index: 300;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	height: 22px;
	width: 22px;
	border-radius: 11px;
	background-color: $color-white;
	color: $color-danger;
	line-height: 1;

	&:before {
		font-family: 'Flexible-Homeschool-App' !important;	
		content: "\e948";
	}

	@media only screen and (min-width: 640px) {
		right: 36px;
	}

	@media only screen and (min-width: 896px) {
		top: -6px;
		right: -9px;
	}
}