.track {
	position: relative;
	dsiplay: block;

	.track-label {
		padding-top: 2px;
		font-size: 12px;
		font-weight: 600;
	}

	.track-icon {
		display: inline-block;
		float: left;
		font-size: 12px;
		padding-top: 4px;
		margin-right: 6px;
		text-align: center;
	}

	.track-btn-container {
		margin-top: 6px;

		button, .btn {
			border-radius: 0px;
			border-right: 1px solid $color-white;
			background-color: $color-gray-light;

			@media print {
				box-shadow: inset 0px 0px 0px 100px $color-gray-light;

				&.btn-primary, &.btn-success {
					box-shadow: inset 0px 0px 0px 100px $color-success;
				}

				&.btn-warning {
					box-shadow: inset 0px 0px 0px 100px $color-warning;
				}

				&.btn-secondary, &.btn-danger {
					box-shadow: inset 0px 0px 0px 100px $color-danger;
				}

				&.btn-gray-darker {
					box-shadow: inset 0px 0px 0px 100px $color-gray-darker;
				}

				&.btn-gray-dark-outline {
					box-shadow: inset 0 0 0 1px $color-gray-dark;
					background-color: transparent;
				}

				&.btn-gray-dark {
					box-shadow: inset 0px 0px 0px 100px $color-gray-dark;
				}

				&.btn-info {
					box-shadow: inset 0px 0px 0px 100px $color-info;
				}

				&.btn-white-info {
					box-shadow: inset 0px 0px 0px 100px lighten($color-info, 28%);
				}
			}

			.track-checkbox {
				display: block;
				height: auto;
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: -11px;
				left: 0px;
				padding: 8px 0px;
				user-select: none;

				.checkbox-icon {
					display: inline-block;
					float: none;
					margin: 0px auto;
					user-select: none;
				}
			}

			.loader-icon {
				background-color: $color-gray-darker;

				&:before {
					background-color: $color-gray-light;
				}

				&:after {
					background-color: $color-gray-light;
				}
			}

			&.btn-primary {
				background-color: $color-primary;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-primary;
					}

					&:after {
						background-color: $color-primary;
					}
				}
			}

			&.btn-primary-light {
				background-color: $color-primary-light;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-primary-light;
					}

					&:after {
						background-color: $color-primary-light;
					}
				}
			}

			&.btn-secondary {
				background-color: $color-danger;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-danger;
					}

					&:after {
						background-color: $color-danger;
					}
				}
			}

			&.btn-secondary-light {
				background-color: $color-danger-light;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-danger-light;
					}

					&:after {
						background-color: $color-danger-light;
					}
				}
			}

			&.btn-warning {
				background-color: $color-warning;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-warning;
					}

					&:after {
						background-color: $color-warning;
					}
				}
			}

			&.btn-warning-light {
				background-color: $color-warning-light;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-warning-light;
					}

					&:after {
						background-color: $color-warning-light;
					}
				}
			}

			&.btn-gray {
				background-color: $color-gray;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-gray;
					}

					&:after {
						background-color: $color-gray;
					}
				}
			}

			&.btn-gray-dark {
				background-color: $color-gray-dark;

				.loader-icon {
					background-color: $color-white;

					&:before {
						background-color: $color-gray-dark;
					}

					&:after {
						background-color: $color-gray-dark;
					}
				}
			}

			&.btn-gray-dark-outline {
				box-shadow: inset 0 0 0 1px $color-gray-darker;
				background-color: transparent;
			}

			&:first-of-type {
				border-radius: 18px 0px 0px 18px;
			}

			&:last-of-type {
				border-radius: 0px 18px 18px 0px;
				border: none;
			}

			&:only-of-type {
				border-radius: 18px;
				border: none;
			}
		}
	}

	.track-input {
		position: absolute;
		display: none;
		top: 83px;
		right: 0px;
		left: 0px;
		bottom: 0px;

		.track-arrow {
			position: relative;
			height: 10px;

			&:before {
				position: absolute;
				content: '';
				width: 0; 
				height: 0; 
				border-left: 11px solid transparent;
				border-right: 11px solid transparent;
				border-bottom: 11px solid $color-gray-dark;
				left: 50%;
				transform: translate(-50%);
				z-index: 200;
			}

			&:after {
				position: absolute;
				top: 1px;
				left: 2px;
				content: '';
				width: 0; 
				height: 0; 
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				border-bottom: 9px solid $color-gray-lightest;
				left: 50%;
				transform: translate(-50%);
				z-index: 400;
			}
		}

		.track-form {
			position: absolute;
			top: 9px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			border-top: 1px solid $color-gray-dark;
			background-color: $color-gray-lightest;
			z-index: 300;
			padding: 9px;
			min-height: 482px;
		}
	}

	&.active {
		position: absolute;
		background-color: $color-white;
		top: 80px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 100;
	}

	&.inactive {
		display: none;
	}

	@media only screen and (min-width: 640px) {
		&.active {
			position: relative;
			background-color: transparent;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			z-index: auto;
		}

		&.inactive {
			display: block;
		}

		.track-input {

			.track-form {
				position: absolute;
				top: 9px;
				right: 9px;
				left: 9px;
				bottom: auto;
				z-index: 300;
				border-top: none;
				background-color: transparent;
				padding: 0px;

				.track-form-wrapper {
					border-radius: 3px;
					border: 1px solid $color-gray-dark;
					background-color: $color-gray-lightest;
					padding: 9px;
					min-height: 413px;
					margin-bottom: 90px;

					.toolbar-bottom {
						height: auto;
					}

					textarea {
						height: 159px;
					}
				}
			}
		}
	}
}

.track-divider {
	position: relative;
	border-top: 1px solid $color-gray;

	.track-divider-label {
		background-color: $color-white;
		padding: 0px 9px;
		text-align: center;
		font-size: 14px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -60%);

		&.track-divider-label-gray-lighter {
			background-color: $color-gray-lighter;
		}

		.track-divider-icon {
			float: left;
			font-size: 14px;
			padding-top: 1px;
			margin-right: 6px;
			text-align: center;
		}
	}
}