h1 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;

	i {
		display: inline-block;
		float: left;
		font-size: 26px;
		margin-right: 12px;
		text-align: center;
		width: 26px;
	}

	&.h1-lg {
		@media only screen and (min-width: 375px) {
			font-size: 24px;
		}

		@media only screen and (min-width: 410px) {
			font-size: 26px;
		}

		@media only screen and (min-width: 640px) {
			font-size: 28px;
		}
	}

}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: 400;

	i {
		display: inline-block;
		float: left;
		font-size: 21px;
		margin-right: 6px;
		text-align: center;
	}
}

h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: 600;
}

p { 
	padding: 0px 0px 9px 0px;
	margin: 0px;
	line-height: 1.25; 

	i {
		display: inline-block;
		float: left;
		font-size: 20px;
		margin-top: -1px;
		margin-right: 9px;
		text-align: center;
		width: 18px;

		&.normal {
			display: inline;
			float: none;
			font-size: inherit;
			margin: 0px;
			text-align: inherit;
			width: auto;
		}
	}

	&.p-sm {
		font-size: 12px;
	}

	&.p-md {
		font-size: 14px;
	}

	&:last-child, &:last-of-type, &:only-child {
		padding-bottom: 0px;
	}
}

ul, ol {
	line-height: 1.25;
	margin: 0px 0px 9px 0px;
	padding: 0px 0px 0px 36px;

	&.info-list {
		list-style: none;
		padding: 0px;

		li {
			margin: 9px 0px 0px;

			i {
				display: inline-block;
				float: left;
				font-size: 20px;
				margin-right: 9px;
				text-align: center;
				width: 18px;
			}
		}
	}

	&:last-child, &:last-of-type {
		margin-bottom: 0px;
	}
}

a {
	color: $color-primary;
	text-decoration: none;
	margin: 0px 0px 9px 0px;
	padding: 0px;
	line-height: 1.25; 

	&.inline-icon i {
		display: inline-block;
		float: left;
		font-size: 20px;
		margin-top: -1px;
		margin-right: 9px;
		text-align: center;
		width: 18px;
	}

	&:hover {
		text-decoration: underline;
	}

	&:focus {
    	outline: none;
    	border: 0;
	}

	&:-moz-focusring {
	    color: transparent;
	    text-shadow: 0 0 0 #000;
	}

	&.txt-ellipsis {
		display: block;
	}
}

.line-height-1 { line-height: 1 }
.line-height-1-5 { line-height: 1.5 }
.line-height-1-75 { line-height: 1.75 }

.txt-primary, .txt-success { 
	color: $color-primary;

	@media print {
		background-color: $color-primary;
		color: transparent;
		text-shadow: 0px 0px 100px $color-primary;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
	
	color: $color-primary;
}
.txt-secondary, .txt-danger { 
	color: $color-danger; 

	@media print {
		background-color: $color-danger;
		color: transparent;
		text-shadow: 0px 0px 100px $color-danger;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-warning { 
	color: $color-warning;

	@media print {
		background-color: $color-warning;
		color: transparent;
		text-shadow: 0px 0px 100px $color-warning;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	}  
}
.txt-info { 
	color: $color-info; 

	@media print {
		background-color: $color-info;
		color: transparent;
		text-shadow: 0px 0px 100px $color-info;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-warning-darkest { 
	color: $color-warning-darkest; 

	@media print {
		background-color: $color-warning-darkest;
		color: transparent;
		text-shadow: 0px 0px 100px $color-warning-darkest;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-gray-darkest { 
	color: $color-gray-darkest; 

	@media print {
		background-color: $color-gray-darkest;
		color: transparent;
		text-shadow: 0px 0px 100px $color-gray-darkest;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-gray-darker { 
	color: $color-gray-darker; 

	@media print {
		background-color: $color-gray-darker;
		color: transparent;
		text-shadow: 0px 0px 100px $color-gray-darker;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-gray-dark { 
	color: $color-gray-dark; 

	@media print {
		background-color: $color-gray-dark;
		color: transparent;
		text-shadow: 0px 0px 100px $color-gray-dark;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-gray { 
	color: $color-gray; 

	@media print {
		background-color: $color-gray;
		color: transparent;
		text-shadow: 0px 0px 100px $color-gray;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-gray-light { 
	color: $color-gray-light; 

	@media print {
		background-color: $color-gray-light;
		color: transparent;
		text-shadow: 0px 0px 100px $color-gray-light;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-black { 
	color: $color-black;

	@media print {
		background-color: $color-black;
		color: transparent;
		text-shadow: 0px 0px 100px $color-black;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	}  
}
.txt-white { 
	color: $color-white; 

	@media print {
		background-color: $color-white;
		color: transparent;
		text-shadow: 0px 0px 100px $color-white;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 
}
.txt-royal { 
	color: $color-royal; 

	@media print {
		background-color: $color-royal;
		color: transparent;
		text-shadow: 0px 0px 100px $color-royal;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	} 

	&.expired {
		color: lighten($color-royal, 30%);; 
		text-shadow: $color-royal 1px 0px 0px, 
				$color-royal 0.540302px 0.841471px 0px, 
				$color-royal -0.416147px 0.909297px 0px, 
				$color-royal -0.989992px 0.14112px 0px, 
				$color-royal -0.653644px -0.756802px 0px, 
				$color-royal 0.283662px -0.958924px 0px, 
				$color-royal 0.96017px -0.279415px 0px;
	}

	color: $color-royal;
}


.font-weight-normal { font-weight: normal; }
.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

.txt-condensed-black { 
	font-stretch: condensed;
    font-weight: 900;
}

.font-size-10 { font-size: 10px; }
.font-size-12 { font-size: 12px; }
.font-size-13 { font-size: 13px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-21 { font-size: 20px; }
.font-size-22 { font-size: 22px; }
.font-size-24 { font-size: 24px; }
.font-size-30 { font-size: 30px; }
.font-size-60 { font-size: 60px; }
.font-size-64 { font-size: 64px; }
.font-size-90 { font-size: 90px; }

.txt-capitalize {
	text-transform: capitalize;
}

.txt-lowercase {
	text-transform: lowercase;
}

.font-style-italic {
	font-style: italic;
}

.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txt-nowrap {
  overflow: hidden;
  white-space: nowrap;
}