h1 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: 400;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: 400;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: 400;
}

p { 
	margin: 0px;
	padding: 0px;
	line-height: 1.25; 

	&.p-sm {
		font-size: 12px;
	}
}

.txt-primary, .txt-success { color: $color-primary; }
.txt-secondary, .txt-danger { color: $color-danger; }
.txt-warning { color: $color-warning; }
.txt-info { color: $color-info; }
.txt-royal { color: $color-royal; }
.txt-gray-darkest { color: $color-gray-darkest; }
.txt-gray-darker { color: $color-gray-darker; }
.txt-gray-dark { color: $color-gray-dark; }
.txt-gray { color: $color-gray; }
.txt-gray-light { color: $color-gray-light; }
.txt-black { color: $color-black; }
.txt-white { color: $color-white; }

.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

.font-size-30 { font-size: 30px; }
.font-size-60 { font-size: 60px; }
.font-size-90 { font-size: 90px; }

.txt-capitalize {
	text-transform: capitalize;
}

.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txt-nowrap {
  overflow: hidden;
  white-space: nowrap;
}