$font-family-default: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica Lgiht", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight-default: 400;
$font-size-default: 16px;

$color-primary: #7CB27C;
$color-primary-light: #ABCCAB;
$color-primary-lighter: #CBE0CB;
$color-primary-lightest: #ECF3EC;

$color-success: #7CB27C;

$color-info: #6BA6E0;
$color-info-light: lighten(#6BA6E0, 15%);
$color-info-lighter: lighten(#6BA6E0, 20%);
$color-info-lightest: lighten(#6BA6E0, 30%);

$color-warning: #E0B56B;
$color-warning-light: lighten(#E0B56B, 15%);
$color-warning-lighter: lighten(#E0B56B, 20%);
$color-warning-lightest: lighten(#E0B56B, 30%);

$color-danger: #E06B6B;
$color-danger-light: lighten(#E06B6B, 15%);
$color-danger-lighter: lighten(#E06B6B, 20%);
$color-danger-lightest: lighten(#E06B6B, 30%);


$color-royal: #A66CE0;


$color-gray-darkest: #8E8E93;
$color-gray-darker: #A1A1A1;
$color-gray-dark: #C8C7CC;
$color-gray: #D7D9D9;
$color-gray-light: #E3E6E6;
$color-gray-lighter: #F2F2F2;
$color-gray-lightest: #F7F7F7;

$color-black: #000;
$color-white: #fff;
