$font-family-default: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica Lgiht", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight-default: 300;
$font-size-default: 16px;

$color-primary: #7CB27C;
$color-primary-light: #ABCCAB;
$color-primary-lighter: #CBE0CB;
$color-primary-lightest: #ECF3EC;

$color-primary-lighter: #CBE0CB;
$color-success: #7CB27C;
$color-info: #6BA6E0;
$color-warning: #E0B56B;
$color-danger: #E06B6B;
$color-royal: #A66CE0;


$color-gray-darkest: #8E8E93;
$color-gray-darker: #A1A1A1;
$color-gray-dark: #C8C7CC;
$color-gray: #D7D9D9;
$color-gray-light: #E3E6E6;
$color-gray-lighter: #EBEDED;
$color-gray-lightest: #F7F7F7;

$color-black: #000;
$color-white: #fff;
