.view-heading {
	position: relative;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.view-icon {
		width: 72px;
		height: 72px;
		border-radius: 36px;
		padding-top: 11px;
		border: 6px solid $color-gray-dark;
		background-color: $color-white;
		color: $color-gray-dark;
		text-align: center;
		font-size: 36px;
		float: left;
	}

	.view-title {
		position: absolute;
		top: 50%;
		left: 81px;
		right: 0px;
		transform: translate(0, -50%);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.view-info {
	border-radius: 3px;
	background-color: $color-gray-lightest;
	border: 1px solid $color-gray-dark;
	font-weight: 300;

	&.no-border {
		border: none;
	}

	label {
		display: block;
		font-size: 12px;
		font-weight: 500;
		margin: 0px;
		padding: 0px;
		color: $color-primary;
	}

	p {
		margin-bottom: 18px;

		&:last-of-type, 
		&:last-child,
		&:only-of-type,
		&:only-child, {
			margin-bottom: 0px;
		}
	}

	a {
		margin-bottom: 18px;
		color: $color-black;
		font-size: 16px;
		padding: 0px;
		line-height: 1.25;
		font-weight: 300;
		text-decoration: none;
		display: block;

		i {
			color: $color-primary;
		}

		&:hover {
			color: $color-primary;

			i {
				color: $color-gray-darkest;
			}
		}
	}
}