@import 'variables';

@import 'alerts';
@import 'buttons';
@import 'dialog';
@import 'dropdowns';
@import 'fha-font';
@import 'forms';
@import 'lists';
@import 'loaders';
@import 'logos';
@import 'meters';
@import 'picker-base';
@import 'picker-date';
@import 'reports';
@import 'steps';
@import 'toolbars';
@import 'track';
@import 'typography';
@import 'view';
@import 'editor';
@import 'well';

@import 'status';
@import 'structure';
@import 'grid';
@import 'margin';
@import 'padding';
@import 'backgrounds';


.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;

	&.pos-top-right {
		top: 0px;
		right: 0px;
	}
}

.border-radius-3 {
	border-radius: 3px;
}

.right-border {
	border-right: 1px solid $color-gray-lighter;
}

.top-border {
	border-top: 1px solid $color-gray-lighter;
}

.top-border-gray-light {
	border-top: 1px solid $color-gray-light;
}

.bottom-border-gray-light {
	border-bottom: 1px solid $color-gray-light;
}

.bottom-border {
	border-bottom: 1px solid $color-gray-lighter;
}

.border-gray-darkest {
	border: 1px solid $color-gray-dark;
}

.border-none {
	border: none;
}

.width-64 {
	width: 64px;
}

.width-68 {
	width: 68px;
}

.height-28 {
	min-height: 28px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}

	.placeholder {
		z-index: 10;
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}
}

.offpage {
	position: absolute;
	top: 100000000000000000000000000px;
	left: 100000000000000000000000000px;
	right: auto;
}

.icn-text-shadow {text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);}

.cursor-default {cursor: default;}

@import 'print';








