@import 'variables';

@import 'alerts';
@import 'buttons';
@import 'dropdowns';
@import 'forms';
@import 'fss-font';
@import 'lists';
@import 'logos';
@import 'meters';
@import 'toolbars';
@import 'typography';

@import 'grid';
@import 'margin';
@import 'padding';
@import 'backgrounds';

* {
	box-sizing: border-box;
}

html {
	font-family: $font-family-default;
	font-weight: $font-weight-default;
	font-size: $font-size-default;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

#__blaze-root {
	height: 100%;
	min-height: 100%;
}

.app-content {
	padding-top: 80px;
	min-height: 100%;

	&.app-content-preceeds-toolbar {
		padding-bottom: 50px;
	}
}

.no-subbar {
	padding-top: 50px;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;

	&.pos-top-right {
		top: 0px;
		right: 0px;
	}
}