.well {
	border-radius: 3px;
	padding: 9px;
}

@import 'variables';

@import 'alerts';
@import 'buttons';
@import 'dialog';
@import 'dropdowns';
@import 'forms';
@import 'fss-font';
@import 'lists';
@import 'loaders';
@import 'logos';
@import 'meters';
@import 'picker-base';
@import 'picker-date';
@import 'reports';
@import 'toolbars';
@import 'track';
@import 'typography';
@import 'view';

@import 'structure';
@import 'grid';
@import 'margin';
@import 'padding';
@import 'backgrounds';


.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;

	&.pos-top-right {
		top: 0px;
		right: 0px;
	}
}

.border-radius-3 {
	border-radius: 3px;
}

.right-border {
	border-right: 1px solid $color-gray-lighter;
}

.top-border {
	border-top: 1px solid $color-gray-lighter;
}

.bottom-border {
	border-bottom: 1px solid $color-gray-lighter;
}

.border-none {
	border: none;
}









